/*----------------Fonts-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Libre+Baskerville:wght@400;700&display=swap');


/*----------------Fonts-------------------------*/

*{padding:0; margin:0; box-sizing:border-box; outline: none;}
a{text-decoration: none !important;}
img{max-width: 100%;}
.hide{display: none !important;}
.text-right{text-align: right !important;}
.text-left{text-align: left !important;}
.text-center{text-align: center;}
.pull-left{float: left !important;}
.pull-right{float: right !important; display:none}
.text-white{color: #fff !important;}
.center{margin:0 auto; }
.bg-bray{background: #f8f9fc;}
.text-underline{text-decoration: underline;}
.container{ max-width: 1200px; width: 100%; padding-right: 15px; padding-left: 15px;  margin: 0 auto;}
body{ font-family: 'Lato', sans-serif; font-weight: normal; font-style: normal; font-size: 17px; color: rgb(38, 38, 38);}
h1{font-family: 'Lato', sans-serif;font-weight: bold; font-style: normal; font-size: 57px; line-height: 68px;}
p{margin-bottom: 30px;font-weight: 100;line-height: 28px;}
ul li, ul li a{font-family: 'Lato' !important; color: rgb(0, 25, 39); text-decoration: none;}
header ul li{ list-style: none; }
header ul li a i{color: rgb(63, 133, 206);}
.logo{display: inline-block; padding: 15px 0;}
hr{clear: both; width: 100%; float: left; color: #fff;}
.text-blue, a{color: #000!important;}

header{background:#f4f6f8; height: 384px;}
header nav{padding: 25px 37px;}
p{color:#363636; margin-bottom: 0;}
.container{ max-width: 758px; width: 100%; padding-left: 15px; padding-right: 15px; }
.logosec{display:none;}
.logosec img{float: left;margin-right: 10px; width:45px;}
.logosec h4{white-space: nowrap;line-height: 26px; font-size: 16px; font-weight:500;font-family: 'Lato', sans-serif;}
header nav .pull-right p{margin: 0; font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 700;}

.main-heading{ display: block; width:100%; float:left; text-align:center;}
.main-heading h1{ text-align: center; font-size: 45px; line-height: 30px; color: #000; margin-bottom: 0px; margin-top: 55px; display:inline-block; position:relative;}
.main-heading h1:before {content: '';width:30px;height: 34px; position: absolute; left:-40px;top: 0px; background:url(../images/secureicon.png) center center no-repeat;background-size: 100%;} 

.clear{clear:both}
.membership-sec{background:#fff;box-shadow: 0 0 19px -1px rgba(202,201,201,0.5); border-radius: 15px; margin-bottom: 50px; margin-top: -215px;}
.membership-sec ul li{ list-style: none; padding: 25px 21px 23px;}
.membership-sec ul li.btm-detail{padding-bottom:35px;}
.membership-sec ul li.btm-detail p{font-size:15px;}
.membership-sec ul li p{color: #4c4c4c; font-weight: normal; font-size: 16px; line-height: 20px;}
.membership-sec ul li p.text-blue{font-size: 18px;font-weight: 500; margin-top: -12px;}
.membership-sec ul li p.text-blue i{font-size: 28px;font-style: normal;}
.membership-sec ul li p span{font-size: 41px; font-weight: 700;}
.membership-sec ul li .price {margin-bottom: 20px;}
.text-underline{text-decoration: underline;}
.membership-sec ul li:first-child{padding-top: 45px;}
.membership-sec ul li .heading{margin-bottom: 15px;margin-top: 6px;}
.membertitle{font-size:22px;}
.f20{font-size:20px}
.membership-sec small{font-size: 13px;letter-spacing: 1px;}
.card-sec img{ vertical-align: middle;}
.form-sec h3{margin-top: 41px;margin-bottom: 30px;}
.form-sec label{ display: block;font-weight: 400;font-size: 16px; margin-bottom: 5px; font-family: 'Lato', sans-serif; margin-top: 25px;}
select, input{ width: 100%; height: 42px; border:1px solid #ccc; padding:0 15px; }
.form-sec{padding-left: 20px;padding-right: 20px;}
.exp-date{width: 50%;float: left;padding-right: 15px;}
.exp-year{width: 50%;float: left;padding-left: 15px;}
.cvv-number{clear: both;float: left;width: 50%;padding-right: 15px;}
.cvv-img{width: 50%;float: left;padding-left: 15px;}
.cvv-img img{height:42px; float:left; margin-right:10px;}
.cvv-img p{font-size: 12px;line-height: 41px;font-weight: 400;}
.terms-sec input{ width: auto;height: auto; float: left;}
.terms-sec{float: left;}
input{background:url(../img/lock-icon.jpg) no-repeat 98% center;}
.exp-date select, .exp-year select{background-position: 95% center;}
.cvv-number input{background-position: 95% center;}
select{-webkit-appearance: none; -moz-appearance: none; background:url(../img/arrow-down.jpg) no-repeat 97.5% center;}
.terms-sec p{float: left;margin-left: 22px;margin-top: -17px; font-size: 13px; line-height: 20px; font-weight: 500;}
.submit-btn{text-align: center; display: block; clear: both; margin-top: 40px;margin-bottom: 40px; float: left; width: 100%;}
.submit-btn input{width: auto;font-size: 19px;text-transform: uppercase;text-align: center; background: #07be1d; border:none; height:62px; color: #fff; font-family: 'Lato', sans-serif; font-weight: 700;padding-left: 75px; padding-right:75px; border-radius: 50px; cursor: pointer;}
.submit-btn input:hover{background: #07a81b;}
footer{ display: inline-block; width: 100%;  padding:20px 0 20px;}
footer p{font-size: 16px;font-weight: 400; text-align: center;}

.centreclass{text-align:center; padding:15px 0px; clear:both}
.centreclass img.mobileimg{display:none} 
.centreclass img.cards{width:auto}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 767px) {
	.centreclass img.mobileimg{display:inline-block}
.centreclass img.desktopimg{display:none}
	.cvv-img p{display: none;}
	.form-sec label {font-size: 13px;}
	.submit-btn input {font-size: 18px; padding-left: 35px;padding-right: 35px;}
	.card-sec img {margin-top: 10px;}
	.membership-sec ul li h3{display: block;width: 100%;}
	.membership-sec ul li .price{width: 100%; margin-top: 55px; text-align: left !important; clear: both;}
	.membership-sec, .membership-sec ul li p.text-blue{text-align: center !important;}
	.main-heading h1 { text-align: center; font-size: 25px; line-height: 35px; color: #000; margin-bottom: 0; margin-top:0px; margin-left:20px;}
	.logosec { display:none; width: 100%;}
	footer { padding: 0px 15px 10px;}
.form-sec {  padding-left: 0px;  padding-right: 0px;}
header { height:314px;}
	
}
@media only screen and (max-width: 450px) {
nav .pull-right{display:none}
	.logosec img { }
}