
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url("font-awesome.css");

/*--
#carousel {width:100%; overflow:hidden;height:300px;position:relative;}
#carousel img {visibility:hidden;cursor:pointer; box-shadow: 0px 0px 6px -1px #3c3c3c;}--*/

*:focus { outline: 0 !important;}
button:focus { outline: 0 !important;}


/*---------checkbox------------*/
#terms,#remember {display: none; }
input[type="checkbox"] + label {display: block;position: relative; padding-left: 25px; margin-bottom: 20px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size: 17px; line-height: 20px; font-weight: 100;}
input[type="checkbox"] + label:last-child { margin-bottom: 0; }
input[type="checkbox"] + label:before {content: ''; display: block; width: 17px; height: 17px; border: 1px solid #6cc0e5; position: absolute; left: 0; top: 0; opacity: .6; -webkit-transition: all .12s, border-color .08s; transition: all .12s, border-color .08s;}
input[type="checkbox"]:checked + label:before {width: 10px; top: -5px; left: 5px; border-radius: 0; opacity: 1; border-top-color: transparent!important; border-left-color: transparent!important; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
/*---------checkbox------------*/



/* START 18/3/2020*/
.inner-container{max-width:1200px; width:95%; margin:0 auto;	}
.breadcrumbs{width:100%; font-weight:500; margin-bottom:50px; }
.breadcrumbs a, .breadcrumbs u{text-transform:uppercase; font-size:14px; letter-spacing:0.5px; color: #000000; padding: 4px 7px;}
.breadcrumbs a:hover, .breadcrumbs u{background:#12b683; color:#fff; text-decoration:none; padding: 4px 7px;}
.breadcrumbs u{margin-left:7px;}
.breadcrumbs span{margin:0px 12px;}

.category-sidebar h2{color: #232122;font-size: 26px;font-weight: 700;margin: 0;font-family: Roboto; letter-spacing:1px; text-transform:uppercase; margin-bottom: 20px;}
.innerright-side h1 span{color: #000;font-weight: 400;font-size: 15px;letter-spacing: 0.5px;}
.innerright-side, .category-sidebar{border-top:0px solid #eeeced; padding-top:25px;}


.form-control input:focus{border:0px;}
.brief-text{margin-top:-7px;}
.brief-text p{font-size: 15px;line-height: 25px;color: #000;font-weight: 300;}

.book-detail-left{width:35%; float:left; text-align:center}
.book-detail-left img{max-width:80%}
.book-detail-left a{text-transform: none;margin: 15px 0px;background: #fff;width: 63%;height: 50px;border-radius: 50px;text-align: center;
display: inline-block;font-size: 16px;color: #e44132;font-weight: 500;text-decoration: none;line-height: 50px;border: 1px solid #e44132; max-width:300px;}
.book-detail-right{width:65%; float:right; font-size: 16px;font-weight: 300;line-height: 27px;}
.book-detail-right .rating {text-align: left; font-size: 13px; margin-top: 6px; display:inline-block; font-family:'Roboto', sans-serif; margin-right:20px;}
.book-detail-right .rating img{vertical-align:middle}
.book-detail-right .bookpages{display:inline-block; font-size:12px; font-family:'Roboto', sans-serif}
.innerright-side .category-list {width:25%; font-size: 15px;color: #000514;font-weight: 400;overflow: hidden; text-align:left; padding: 0 10px 20px;}
.innerright-side .category-list .category-img {height: 250px;}
.innerright-side .category-list .category-img img{max-height: 95%;}
.innerright-side .category-list .category-box{border-bottom: 1px solid #ccd1d8;padding: 5px; background:#fff}


#desktop_cat_div{display:block}
#mobile_cat_div{display:none}

/* END 18/3/2020*/




.containerjoin .title{font-family: Roboto; font-size:30px; text-align:center; margin-bottom:20px;}
.containerjoin .sub-title{text-align:center; max-width:700px; margin:0 auto; font-size:17px; font-family:Roboto; font-weight: 300;line-height: 25px;
}
.btnjoin{height: 49px;margin: 0 auto;display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;
width: 220px;background-color: #12b683;color: #ffffff!important; text-decoration:none!important; font: 400 14px/14px Roboto,sans-serif;letter-spacing: 0.77px;text-transform: uppercase;
text-decoration: none; margin-top:15px; margin-bottom:5px;}
.sub-title span{font-size:14px; font-weight:400}
.sub-title span a{color:#e44132}

.clear{clear:both}
.benefits-box img{margin-bottom:10px;}
.benefits-box{width:33%; padding:10px 2%; text-align:center; display:inline-block;  box-sizing: border-box; font-family:Roboto; font-size:13px; line-height:18px; vertical-align:top; margin-bottom:50px;}
.benefits-box label{font-weight:700; font-size:17px; color:#000; display:block; font-family:Merriweather; margin-bottom:10px; line-height:25px;  }
.membership-feature{text-align:center; padding-top:70px;}
.join-now-area{padding: 40px 60px; background-color: #eeeeee; font-size:13px; font-family:Roboto; line-height:22px;text-align:center}
.join-now-area a{color:#000; text-decoration:underline}
.join-now-area .title span{font-size:12px; font-family:Roboto; display:block; letter-spacing:1px; text-transform:uppercase; margin-bottom:30px;}
.join-now-area .title { font-family:Merriweather; font-weight:400}
.pricemonth{text-align:center; font-size:17px; font-weight:600; margin-bottom:30px; color:#e44132}


/*---
.acordian-section { width:100%; float:left;margin: 0px 0 40px;}
.acordian-main { width:100%; float:left;}
.acordian-main-heading {width:100%; float:left; text-align:center;}
.acordian-main-heading h1 {margin: 0;padding:0px 0 55px;color: #000;font-weight:400;font-size: 37px;}

.acordian-main-data {width:100%; float:left;}
.accordion { width:100%; float:left; max-width:100%;} 
.accordion ul { margin:0;}
.accordion .list-group-item{text-transform: capitalize;padding:13px 15px;border: solid 1px #cacaca !important;border-radius: 6px !important;margin: 0 0 15px;background: none;}
.accordion li[aria-expanded="true"] { background:#fff; border:none !important;box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.09);}

.accordion .list-group-item h3 { color:#000; margin:0; font-size:16px; font-weight:400; cursor:pointer;}
.accordion .list-group-item .innercontent { width:100%; float:left;}
.accordion .list-group-item .innercontent p {font-family: 'Lato', sans-serif; color:#000; font-size:13px;line-height: 26px; padding-top:20px;}

.accordion li:after { content: ""; background:url(../img/oponarrow.png) left top no-repeat; width:13px; height:7px;position: absolute;right: 15px;top: 19px;background-size: 10px;}
.accordion li[aria-expanded="true"]:after { content: ""; background:url(../img/closearrow.png) left top no-repeat; width:13px; height:7px; background-size: 10px;}
--*/


[data-aos^="fade"][data-aos^="fade"] {opacity: 1!important;}
.halfdiv-section {width: 100%;}
.subscription-box .form{width:100%!important;}
[data-aos^="fade"][data-aos^="fade"] {opacity: 1!important;}


.moneyback {    position: relative;    overflow: hidden;    background: #fff;    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);    border-radius: 4px;    display: -webkit-box;    display: -ms-flexbox;    display: -webkit-flex;    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;    margin: 20px 0 0;    padding: 16px;    border-radius: 4px;    background: #fff;    color: #000; max-width:100%; margin:0 auto; margin-top:32px;}

.moneyback figure {    width: 120px;    min-width: 120px;    max-width: 120px;    margin-right: 20px;}
.moneyback p {    font-size: 12px; line-height:22px;}


.price-container { width: 900px; margin: 0 auto;}
.pricelist { width: 100%; float: left; padding: 30px 0 60px; margin:60px 0}
.pricelist .pricing-options-horizontal { width: 100%; float: left; text-align: center;background: #7856ff;}
.pricetablecontent { width:49%;display: inline-block;vertical-align: top;padding: 0px 0;margin: 0 0px;border-radius: 0px;overflow: hidden;position: relative;background:none;}
.pricetablecontent .plantop {width: 100%; float: left; min-height: 180px;}
.pricetablecontent .pricetableheader-text .green {background:none;}
.pricetablecontent .pricetableheader-text .blue {background:#7856ff;}
.pricetablecontent.premium-plan { background: #6b4bee; float:right;}



.pricelist .plan {width: 100%;float: left;font-size: 15px;color: #fff;font-weight: 300;padding: 21px 0;text-transform: uppercase;letter-spacing: 1px;}
.pricelist .plan span { padding-left:8px;}
.pricelist .features { width:100%; float:left;}
.pricelist .features ul {margin:10px 0; padding:0 100px}
.pricelist .features li { list-style:none; color:#fff;border-bottom: solid 1px #8e74f4; padding: 10px 0; font-weight:300;list-style-image: url(../img/tick.png);}

.pricelist .price {width: 100%;float: left;font-size: 15px;color: #fff;font-weight: 300;padding: 10px 20px 22px;line-height: 26px;}
.pricelist .price span {font-size: 55px;font-weight: 700;padding-right: 7px;}
.pricelist .price a {    background: #fff;   font-size: 18px;  color: #212121; padding: 11px 30px;   border-radius: 5px;    text-decoration: none;  line-height: normal;    border: solid 3px transparent;    margin-top:10px;    display: inline-block;    position: absolute;    bottom: 0%;    left: 50%;    width: auto;    text-transform: uppercase;    font-weight: 300;    transform: translate(-50%,-50%);}
.pricelist .price a:hover { color:#fff!important;background:#f18b32;}
.pricelist .pricing-options-horizontal .clear { display:none;}
.fullplanprice {width: 100%; text-align: center; padding-bottom: 15px; font-size: 14px; color: #fff; font-weight: 300;}
.pricelist .buttonlink { width:100%; float:left; padding: 15px 0 30px;}
.pricelist .buttonlink a {font-size: 20px;color: #6b4bee;padding: 14px 60px;border-radius:50px;z-index: 99;text-decoration: none;line-height: normal;font-weight:400;margin: 0px 0;position: relative;border: none;display: inline-block;background: #fff;text-transform: uppercase;}
.pricelist .buttonlink a { color:#6b4bee;}
.pricelist .buttonlink a .arrow-icon::after { right:0px!important;}
.pricelist .buttonlink a span.arrow-icon { display:none;}

.pricelist .buttonlink a:hover { color: #6b4bee !important;text-decoration: none !important;}	
.titlemain { width:100%; float:left; text-align:center;}
.titlemain h1{ color:#000; font-size:37px;  font-weight:700; margin-bottom:50px; text-align:center; border:0px;margin-top: 40px;}
.pricelist .title, .pricing-form h1, h1.maintitle{ color:#000; font-size:37px;  font-weight:700; margin-bottom:50px; text-align:center; border:0px;}

.pricelist .title span{ display: block;text-transform: none;font-weight: 300;color: #000;font-size: 17px;max-width: 540px;margin: 0 auto;
margin-top: 5px;line-height: 24px;}
.pricingoption {text-align: center;   padding: 20px;    border: 0;    border-radius: 15px; width: 33%;display: inline-block;margin: 0px 20px; vertical-align:top}
.pricingoption h4{font-size: 12px;letter-spacing: 2px;margin-bottom: 0px;font-weight: 500;}
.pricingoption small {letter-spacing: 2px;}
.text-muted { color: #e44132 !important; margin-bottom:30px; display:block}
.pricingoption .card-title { font-size: 65px;    font-weight: 700;margin: 0px 0 10px;}
.pricingoption ul {line-height: 2.5;margin: 0 0 20px;padding-left: 0;list-style: none;}
.pricingoption .plan-muted {    text-decoration: line-through;    opacity: 0.5;}
.pricingoption a.btn{border-radius: 50px;padding: 15px 30px;border: 1px solid #12b683;text-transform:uppercase;font-weight: 500;color: #12b683; font-size:15px; display:inline-block; margin-top:15px;}
.pricingoption a.btn:hover{background:#12b683; color:#fff}

.category { margin-left: 0px; display: block;float: right;width: 74%; padding:0!important;}
.category h1 {font-weight:500;font-size: 35px !important; margin-bottom:10px;display:inline-block; border:none;}
.category h2 {font-weight:500;font-size: 30px !important;margin-bottom:15px;display:inline-block;}
.category p { font-size:16px; line-height:28px;}

.dashborad-about {width: 100%;float: left; background: #fff;padding:20px;box-shadow: 0px 0px 11px -5px #cecece; border-radius:3px; margin-bottom:20px;}
.dashborad-about p { color:#5b5d63; line-height:23px;word-break: break-word;}
.dashborad-about p.date {font-weight: 600;color:#1a31f1; margin:0;}


.dashboard-section2 { width:100%; float:left; text-align:center; margin:0px 0 20px;background: #fff;padding: 20px 12px 6px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px;}
.dashboard-section2-row {width: 32%;float: none;text-align: center;margin: 0px 3px 8px;display: inline-block;padding:0px;}
.dashboard-section2 .green { background:#28a745;}
.dashboard-section2 .blue { background:#17a2b8;}
.dashboard-section2 .purple { background:#886ce6;} 
.dashboard-section2 .orange { background:#fc9617;}


.dashboard-section2 .info-box-icon {margin: 0;float: left;width: 90px; border-radius:0;}
.dashboard-section2 .info-box-icon::after { display:none;}
.dashboard-section2 .info-box-icon i{ font-size:45px; padding-top:12px;}
.dashboard-section2 a.text-success, .dashboard-section2 a.text-info, .dashboard-section2 a.text-fancy {color: #fff !important;}
.dashboard-section2 a.text-success:hover, .dashboard-section2 a.text-info:hover, .dashboard-section2 a.text-fancy:hover { color:#fff!important; text-decoration:underline!important;}
.dashboard-section2 a.text-success:focus, .dashboard-section2 a.text-info:focus, .dashboard-section2 a.text-fancy:focus{ color:#fff!important;}
.dashboard-section2 .info-box-content { width:65%; float:right; text-align:center;margin: 12px 0 0;padding: 5px 10px;}
.dashboard-section2 .info-box-number { color:#fff!important;}

  
.dashboardpages { background:#f4f4f4; padding:60px 0}
.dashbaordchart { width: 100%; float: left; background: #fff;padding: 10px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px; margin-bottom:20px;}
.dashboard-recenttable {width: 100%; float: left;background: #fff;margin-top:0px;padding: 20px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px; margin-bottom:20px; overflow:auto;}
.dashboardpages .dashboard-recenttable table th {background: #58b5ca;color: #fff;padding: 20px 12px;border: solid 1px #4e9eb0; font-size:17px;font-weight: 600;}

td a.editicon {font-size: 0px;background: url(../img/editicon.png) no-repeat right center !important;text-indent: 0.01px;cursor: pointer;  display: inline-block;    width: 18px; margin: 0 5px 0; height: 30px;padding:0;background-size: 100% !important;border: none !important;border-radius: 0 !important; float:left;}

td a.cloneicon {font-size: 0px;background: url(../img/cloneicon.png) no-repeat right center !important;text-indent: 0.01px;cursor: pointer;  display: inline-block;    width: 18px; margin: 0 5px 0; height: 30px;padding:0;background-size: 100% !important;border: none !important;border-radius: 0 !important;float:left;}

td .deleteicon {font-size: 0px;background: url(../img/deleteicon.png) no-repeat right center !important;text-indent: 0.01px;cursor: pointer;  display: inline-block;    width: 16px; margin: 0 5px 0; height:25px;padding:0;background-size: 100% !important;border: none !important;border-radius: 0 !important;float:left;}

.dashboardpages .dashboard-recenttable table td { font-size:14px;}
.dashboard-recenttable table td a { color:#007bff!important}
.dashboard-recenttable table td a:visited { color:#007bff!important}
.dashboard-recenttable table td a.recurring {display: block;color: #fff!important;font-size: 14px;line-height: 17px;text-align: center;border-radius: 8px;padding: 8px 10px;background: #f00;white-space: nowrap;margin-top: 5px;}
.dashboard-recenttable table td a.recurring:hover { color:#fff!important;}
.page-title { width:100%; float:left;border-bottom: 1px solid #e1e1e1;margin-bottom: 15px;}
.page-title .purple-btn { float:right;margin-bottom: 15px;}
.purple-btn {width: auto !important;height: auto !important;font-size: 17px !important;padding: 5px 15px !important;background: #20aa89 !important;	color: #fff !important;}
.purple-btn:hover { color:#fff!important;}





.dashboard-form {width: 100%; float: left;background: #fff;margin-top:0px;padding: 20px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:0px; margin-bottom:20px;}
.dashboard-form input, .dashboard-form select, .dashboard-form textarea {border: 2px solid #e0e0e0 !important;padding: 0.375rem 0.75rem !important;border-radius: 3px;height: 45px !important;line-height: normal;}
.dashboard-form strong { font-weight:400!important;}
.dashboard-form input[type="checkbox"] { float:left; margin:6px 10px 0 0; height:auto!important;}
.dashboard-form textarea { min-height:200px;}
 
.flashmessage { width:100%; float:left;}
.flashmessage alert{ width:100%; float:left;}


select option {font-family:Arial, Helvetica, sans-serif;}


.dashboardpages .pagination { width:100%; float:left;}
.dashboardpages .pagination ul.pagination { margin:0;}
.dashboardpages .pagination ul.pagination .page-item.active .page-link { color: #fff; background-color: #eda122;border-color: transparent;}
.form-control:focus {box-shadow: none!important;}


.dashboard-search { width:100%; float:left;}
.dashboard-search .formitem { width:33.333%; float:left; padding:0 8px}
.dashboard-search .formitem strong { font-weight:400!important;}
.dashboard-search .submit-search {width: auto; float: left;margin: 24px 0 0;padding: 0 10px;}
.dashboard-search .submit-search a, .dashboard-search .submit-search input {border:none; width:auto!important; height:auto!important;font-size: 17px;padding: 11px 15px !important;background: #2bb218;line-height: normal !important;border: none !important;color: #fff !important;border-radius: 3px;}
.dashboard-search .submit-search a { background:#e53c15!important; margin:0 4px;}

a.mobilelinks { display:none; color:#fff; font-weight:600;}
a.mobilelinks span {  float:right;}
a.mobilelinks:hover { color:#fff!important;}


.dashboard-widget { width:100%; float:left; text-align:center; margin:0px 0 20px;background: #fff;padding: 20px 12px 6px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px;}
.dashboard-widget-row {width: 32%;float: none;text-align: center;margin: 0px 3px 8px;display: inline-block;padding:0px;border-radius: 4px;}
.dashboard-widget-row .info-box-content { width:69%; float:right; text-align:left;margin:12px 0 0;padding: 5px 10px;}
.dashboard-widget-row a.text-success, .dashboard-widget-row a.text-info, .dashboard-widget-row a.text-fancy {color: #fff !important;word-break: break-all;}
.dashboard-widget-row a.text-success:hover, .dashboard-widget-row a.text-info:hover, .dashboard-widget-row a.text-fancy:hover { color:#fff!important; text-decoration:underline!important;}
.dashboard-widget-row a.text-success:focus, .dashboard-widget-row a.text-info:focus, .dashboard-widget-row a.text-fancy:focus{ color:#fff!important;}

.dashboard-widget-row .info-box-number { color:#fff!important;}
.dashboard-widget-row .info-box-icon {margin: 0;float: left;width:85px; border-radius:0;background: none;padding:25px 0;}

.addaccount-btns, .div33, .div25{width:33.33%; padding:20px; color:#fff; box-sizing:border-box; float:left; font-weight: 700;font-size: 16px; border-right:1px solid #fff}
.div33{width:33.33%;} 
.div25{width:25%;}
.addaccount-btns:nth-child(3), .div25:nth-child(3){}
.addaccount-btns .aa-text{min-height:120px;}
.addaccount-btns a.purple-btn{ margin-top:25px; background:#fff; color:#333; padding: 7px 30px; border:0px; font-weight:700}
.addaccount-btns a.purple-btn:hover{background:#333; color:#fff}
.dashboard-section2.padding0{padding:0px;}
.dashboard-section2.padding0 .addaccount-btns{background:#5632de}
.dashboard-section2.padding0 .addaccount-btns:nth-child(2){background:#ea125a}
.dashboard-section2.padding0 .addaccount-btns:nth-child(3){background:#0b9ded}
.dashboard-section2.padding0 .addaccount-btns:nth-child(4){background:#d100fe}


.dashboard-widget-row:nth-child(3) { background:#fb4545;}
.dashboard-widget-row:nth-child(4) { background:#e3ba17;}
.dashboard-widget-row:nth-child(5) { background:#a4d930;}
.dashboard-widget-row:nth-child(6) { background:#0bb7bf;}
.dashboard-widget-row:nth-child(7) { background:#a791d7;}
.dashboard-widget-row:nth-child(8) { background:#d04ea3;}
.dashboard-widget-row:nth-child(9) { background:#41438e;}
.dashboard-widget-row:nth-child(10) { background:#ea216c;}
.dashboard-widget-row:nth-child(11) { background:#4ea675;}
.dashboard-widget-row:nth-child(12) { background:#fb4545;}
.dashboard-widget-row:nth-child(13) { background:#e3ba17;}
.dashboard-widget-row:nth-child(14) { background:#a4d930;}
.dashboard-widget-row:nth-child(15) { background:#0bb7bf;}
.dashboard-widget-row:nth-child(16) { background:#a791d7;}
.dashboard-widget-row:nth-child(17) { background:#d04ea3;}
.dashboard-widget-row:nth-child(18) { background:#41438e;}
.dashboard-widget-row:nth-child(19) { background:#ea216c;}
.dashboard-widget-row:nth-child(20) { background:#4ea675;}



.category-sidebar{width: 21%;float: left;overflow-y: auto; background:#48bacf; margin-right:0%;padding: 15px!important;border-radius: 5px;}
.category-sidebar ul{ padding-left:0px; margin:0;}
.category-sidebar ul li{ list-style: none;border-bottom: solid 1px #42a4ba;}
.category-sidebar ul li a{padding:10px 10px; color: #fff;display: block;text-decoration: none; font-size:16px; font-weight:600;transition: .15s ease;}
.category-sidebar ul li a span {    margin: 0 10px 0 0; width: 16px; display: inline-block;font-size: 17px;}
.category-sidebar ul li.active a {background:#0cacbd;}

.category-sidebar ul li:hover a { padding-left:15px;transition: .15s ease;background: #0cacbd; color:#fff!important;} 
.category-sidebar ul li.active:hover a{color:#fff;}
p.total-result{color: #fff; font-size: 25px;}

.rating_star.icon-ic_star_small_fill.light_lit{position: relative}
.rating_star.icon-ic_star_small_fill.light_lit:after {position:absolute; width:15px; height:15px; background: #000; content: '';}



.headersection {background:#58b5ca;width: 100%;float: left;padding:50px 0;}
.logindrop .nav-list { position: absolute; right:100px; top: 29px; z-index:999;}
.logindrop .nav-list li { list-style:none;}
.logindrop .nav-list li a#navbarDropdown {background: #58b5ca; color:#fff;border: solid 1px #1ac9dc;border-radius: 5px;}
.logindrop .nav-list li a#navbarDropdown:hover { color:#fff!important;}
.logindrop .dropdown-menu {background-color: #11b5c7!important;border: solid 1px #39bfd2;}
.logindrop .dropdown-menu a { color:#fff;}


/*-----------Login------------*/

.logincontainer {  width: 500px; margin: 0 auto;}
.loginsection { width: 100%; position: relative; background: #5ac4be;padding: 0; border-radius:8px; float: left; margin:60px 0px; overflow:hidden;}

.loginsection .alert { position: relative; padding: 10px 0px; margin-bottom: 0; border: none; border-radius: .25rem; width: 100%;    background: none;}
.loginsection .alert ul {width: 100%;list-style: none;border: 1px solid #fff;padding: 11px 16px;border-radius: 4px;background: #ff5c5c;}
.loginsection .alert ul li {text-align: left;color: #fff!important;}
.loginsection .alert-success {color: #69df84!important;}

.login-signup-title {width: 100%; float: left; padding: 0 31px;}
.login-signup-title h3{text-align:center; font-size:28px; font-weight:500; margin:0px; color:#fff!important;padding:15px 0;border-bottom: solid 1px #9dcbd0;}
.login-signup-title a{color: #fff!important;opacity: .55;width: 50%;float: left;text-align: center;padding: 20px 0;border-left: solid 1px #0d7c88;font-size: 22px;font-weight: 300;text-transform: uppercase;border-bottom: solid 1px #0d7c88;}
.login-signup-title a.loginform { border-left:none;}
.login-signup-title a.active{color: #fff;opacity:1;font-weight: 500;}
.login-signup-title a:hover{text-decoration:none; opacity:1;}

.loginform-buttons { width:100%; float:left;padding: 10px; text-align:center;}
.loginform-buttons button.btn, .loginform-buttons input.button {background: #87d5d0;font-size: 22px;color: #fff;padding:15px 20px;border-radius: 5px;z-index: 99;text-decoration: none;line-height: normal;font-weight: 700;margin: 15px 5px 15px 0px;position: relative;border: solid 3px transparent;width: auto;height:auto; vertical-align:top;}
.loginform-buttons button.btn span.arrow-icon::after { right:0!important;}
.loginform-buttons button.btn-primary:not(:disabled):not(.disabled):active { background-color:transparent!important; border-color:transparent!important;box-shadow:none;}
.loginform-buttons a.cancelbutton { background: #ff2929d1; font-size: 22px; color: #fff !important; padding: 15px 20px; border-radius: 5px; z-index: 99; text-decoration: none; line-height: normal;  font-weight: 700; margin: 15px 0px; position: relative; border: solid 3px transparent; width: auto; height: auto; display: inline-block;}

.loginform-buttons .rememberleft { width:50%; float:left; padding-top:2px;}
.loginform-buttons .rememberleft .form-check { padding:0;}
.loginform-buttons .rememberleft .form-check input[type="checkbox"] + label {text-transform: uppercase;}
.loginform-buttons .rememberleft .form-check input[type="checkbox"] + label::before { border: 1px solid #fff;}

.loginform-buttons .lostpass { width:50%; float:right; text-align:right;}
.loginform-buttons .lostpass a {text-align: right;font-size: 14px;padding: 0px;color: #fff;font-weight: 700;font-size: 14px;}
.loginform-buttons .lostpass a:hover { color:#fff!important; text-decoration:underline;}

.loginform-buttons .form-group { width:100%; float:left; margin:0;}


.loginform{font-size: 14px;text-transform: uppercase;font-weight: 700;width: 100%;float: left;background: none;padding:30px}
.loginform .card-body { padding:0;}
.loginform label {width: 100%;max-width: 100%;flex: auto;text-transform: capitalize;font-size: 16px;font-weight:400;color: #fff; padding:0px; margin-bottom:6px; text-align:left;}
.nopadding{padding:0px;}
.loginform input.form-control { height:47px;}
.loginform select.form-control  { height:47px;}
.loginform .invalid-feedback {color: #ae4b4b;text-shadow: none;font-weight: normal;}

.loginform .btn-primary {text-transform:uppercase; margin-bottom:15px;}
.loginform input[type="checkbox"] + label{font-weight:700; font-size:14px; color:#fff}
.loginform .btn-primary:hover{color:#fff}
.text-right{text-align:right}


.editprofile-tab { width: 100%; text-align: center;}
.tab-section { width: auto; text-align: center; margin-top: 45px;  background: #fff; padding: 0; box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.1);display: inline-block;}
.tab-section .tab { width: auto;display: inline-block;background: #fff; color: #797979; padding: 20px 25px;border-radius: 4px;cursor: pointer; margin: 0 0px;border-right: solid 1px #e9e9e9;font-weight: 300; font-size: 20px;}
.tab-section .tab.active {background: #9142ff;color: #fff;}
.tab-section .tab:last-child { border:none;}
.paddingtop { padding-top:5px!important;}


.acontdetail-container { width:1000px; margin:0 auto; max-width:100%;}
.pricing-form { width:100%; float:left;}
.pricingmain .half { width:50%!important;float: left;padding: 0 10px;}
.pricingmain .conditionbox { width: 100%; color: #fff; font-weight: 400; text-transform: none; padding: 0 10px;}
.pricingmain .conditionbox a { color: #fff !important;text-decoration: underline;}
.pricingmain .conditionbox a:hover { color:#fff;}

.lostdetails {text-transform: none;font-weight: 300;width: 100%;color: #e5fafd;margin: 0 0 10px;}


.cardnumbertext { width: 100%; float: left;}
.cardnumbertext .input-icon {width: 100%;float: left;font-size: 22px;font-weight: 300;color: #fff;text-align: left;}

.cardnumber {width: 100%; float: left; margin: 24px 0;}
.cardnumber .input-icon  {color: #fff;font-size: 22px;}
.cardnumber .input-icon input {border: none;padding:0px 19px;border-radius: 5px;width: 95%; height:45px;box-shadow: none;}


.card-expmain { width: 100%; float: left;}
.card-expmain select { height:45px; border:none;}
.card-expmain .card-exp-input { width:100%; float:left;}
.card-expmain .card-exp-cvv { width:100%; float:left;margin-top: 25px; position:relative;}
.card-expmain .card-exp-cvv .input-icon {width: 28%;float: left;color: #fff;font-size: 22px;}
.card-expmain .card-exp-cvv .input-icon input {border: none;padding:0px 19px;border-radius: 5px;width:auto; height:45px;}
.card-expmain .card-exp-cvv .cvvimg {width: 71px;float: left;text-align: left;margin: 0 0 0 10px;}
.card-expmain .card-exp-cvv .cvvimg h6 {color: #fff;font-size: 12px;position: absolute;left: 0;bottom: -30px;}


.basicmain {padding: 40px 30px;margin:10px 0 40px;background: #fff;border: 1px solid #f2efef;box-shadow: 0 5px 10px rgba(36,50,56,.10);width: 100%;float: left;}
.basicmain .benifits-brief { padding: 0 190px; text-align: center;}
.basicmain .benifits-brief h1 {border-bottom: 0px none;font-size: 30px;text-align: center;font-weight: 300; margin-bottom:15px;}
.basicmain .benifits-brief h1 strong { font-weight:700; color:#7856ff;}
.benifits-half { width: 50%; float: left; padding: 30px 20px;}
.benifits-half h3 { font-weight:600;}


.cancelaccounermain {background: #fff;border: 1px solid #f2efef;padding:0px;margin:10px 0 50px;box-shadow: 0 5px 10px rgba(36,50,56,.10);width: 100%;float: left;}
.cancelaccounermain .halfblue {padding: 30px 40px;background: #7856ff;}
.halfdiv-section { width: 50%;float: left;padding: 0px 15px;}
.membership-contact {    font-size: 15px;    background: none;}
.halfdiv-section .accordion .list-group-item {    text-transform: capitalize;    padding: 13px 15px;    border: solid 1px #cacaca !important;    border-radius: 6px !important;    margin: 0 0 15px;    background: none;}
.halfdiv-section .accordion .list-group-item h3{font-size:15px; font-weight:600}
.halfdiv-section .acordian-main-heading h1{font-size:30px;margin-bottom: 10px;padding-bottom: 16px; text-align:left}

.subscription-box a {    color: #ed1c94;    text-decoration: underline;}
.subscription-box .finishbtn {background:#6b54c8;color: #fff;display: inline-block;width: auto;height: 56px;text-align: center;line-height: 56px;text-transform: none;font-weight: 700;font-size: 20px;letter-spacing: 0.5px;border-radius: 3px;padding: 0px 45px;margin-right: 20px;
text-decoration: none;}

.halfdiv-section {width: 50%;padding: 30px 30px;}
.subscription-box h1{font-size:32px; margin-bottom:16px; font-weight:300; padding-bottom:10px; color:#fff}
.subscription-box h5 {font-size: 1.125rem;    margin-bottom: 15px; font-weight:600; color:#fff;}
.subscription-box p { color:#fff;}
.subscription-box p a { color:#fff;}
.subscription-box .form{width:100% !important;float: left;background: #8566ff;padding: 20px 30px;}
.subscription-box .form .form-group label {width: 100%;max-width: 100%;flex: auto;text-transform: capitalize;font-size: 16px;font-weight: 400;color: #fff;padding: 0px;margin-bottom: 6px;text-align: left;}
.subscription-box .form .form-group input { height:47px;}
.membership-contact.subscription-box{width:100%;}


.halfdiv-section .acordian-section { margin:0;}
.halfdiv-section .acordian-section .accordion {  width: 100%;    float: left;    max-width: 100%;    padding-right:0px;}
.halfdiv-section .acordian-section .accordion li::after {left: 10px;top: 6px;}
.halfdiv-section .acordian-section .accordion h5{ color:#000; font-weight:700;}


.support-icons {    margin-top: 30px; max-width:100%; margin:0 auto; clear:both}
.support-icons .icon {    display: -webkit-box;    display: -ms-flexbox;    display: -webkit-flex;    display: flex;    -webkit-box-align: center; -ms-flex-align: center;    align-items: center;    margin:0px; width: 50%; float: left;}
.support-icons figure {    position: relative;    width: 40px;    height: 40px;    margin-right: 10px;}
svg {fill: #12b683!important;}
figure {    margin: 0; display:block}
.support-icons p{font-size: 14px;font-weight: 400; line-height:22px; color:#000;!important}
.support-icons p span {    font-weight: bold;}



#privacy { width:100%; float:left;}
#privacy h1 {font-size:18px; font-weight:bold; margin:25px 0px}
#privacy p { font-size:15px; margin-bottom:15px; line-height:28px;}
.container { width:1170px; max-width:100%; margin:0 auto;}
#privacy .header { width:100%; float:left; text-align:center;}
#privacy .header h1 { margin:0;}
#privacy .header p { margin:25px; 0}
#privacy .content { width:100%; float:left;}
#privacy .section { width:100%; float:left;}


ul.testimonialspage {width: 100%;text-align: center;padding: 0 110px;}
ul.testimonialspage li {list-style: none;border-bottom: solid 1px #e9e9e9;margin-bottom: 25px;padding-bottom: 25px;width: 100%;float: left;}
ul.testimonialspage li .slidename { width: 100%; float: left;}
ul.testimonialspage li .slidename .img { width: auto; display: inline-block;}
ul.testimonialspage li .slidename .name { width: auto; display: inline-block;}
ul.testimonialspage li .slidename .name span { display:inline-block;}
ul.testimonialspage li .slidename .name span strong { padding-right:7px;}

span.red { color:#FF0000!important;}
#navbarDropdown span.user-name {white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 170px; display: inline-block; vertical-align: bottom;}

.alert { margin:15px 0!important;}