@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');  
/*---

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-MediumItalic.eot');
    src: url('../fonts/GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-MediumItalic.woff2') format('woff2'),
        url('../fonts/GothamRounded-MediumItalic.woff') format('woff'),
        url('../fonts/GothamRounded-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
		font-family: 'Gotham Rounded Book';
		src: url('../fonts/GothamRounded-Book.eot');
    src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Book.woff2') format('woff2'),
        url('../fonts/GothamRounded-Book.woff') format('woff'),
        url('../fonts/GothamRounded-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Medium.eot');
    src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
        url('../fonts/GothamRounded-Medium.woff') format('woff'),
        url('../fonts/GothamRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-BoldItalic.eot');
    src: url('../fonts/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-BoldItalic.woff2') format('woff2'),
        url('../fonts/GothamRounded-BoldItalic.woff') format('woff'),
        url('../fonts/GothamRounded-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('../fonts/GothamRounded-BookItalic.eot');
    src: url('../fonts/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-BookItalic.woff2') format('woff2'),
        url('../fonts/GothamRounded-BookItalic.woff') format('woff'),
        url('../fonts/GothamRounded-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Light.eot');
    src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Light.woff2') format('woff2'),
        url('../fonts/GothamRounded-Light.woff') format('woff'),
        url('../fonts/GothamRounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Bold.eot');
    src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
        url('../fonts/GothamRounded-Bold.woff') format('woff'),
        url('../fonts/GothamRounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-LightItalic.eot');
    src: url('../fonts/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-LightItalic.woff2') format('woff2'),
        url('../fonts/GothamRounded-LightItalic.woff') format('woff'),
        url('../fonts/GothamRounded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

---*/

.container { width:1170px!important; margin:0 auto; padding:0!important; max-width:100%!important;}


* { box-sizing:border-box;}

img { max-width:100%;}

html, body {
  height: 100%; box-sizing:border-box;}

body {
  background: #fff;
    font-family: 'Open Sans', sans-serif!important;font-size: 1.6rem;
  line-height: 3rem;
  color: #353535;
  margin: 0;box-sizing:border-box;
  padding: 0;
}

/* ------------------------------------------------------------------- 
 * links - (_document-setup) 
 * ------------------------------------------------------------------- */
a, a:visited { color: #07617d;}
a:hover{color: #000000!important;}

h1, h2, h3, h4, h5, h6 { line-height:normal;}
 

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
 
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  background-color: #f9a828;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}


/* ===================================================================
 *  05. forms - (_forms.scss)
 *
 * ------------------------------------------------------------------- */
fieldset {
  border: none;
}

  

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  color: #000000;
}

label, legend {
  font-size: 1.4rem;
  margin-bottom: .6rem;
  color: #020202;
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-text {
  display: inline-block;
  margin-left: 1rem;
  line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
  margin: 0;
  position: relative;
  top: .15rem;
}


/* ===================================================================
 *  06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- */
 
header {width: 100%;  height: auto;}
.headermain { width:100%; float:left; position:relative; height:auto!important;}
#app{ width:100%; float:left; position:relative; overflow:hidden; background:#fff;}
 
/* ------------------------------------------------------------------- 
 * menu trigger - (_layout.css) 
 * ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- 
 * off-canvas menu - (_layout.scss) 
 * ------------------------------------------------------------------- */
 

/* menu is open */
.menu-is-open #menu-nav-wrap {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header section 
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  header .header-logo a {
    width: 51px;
    height: 24px;
    background-size: 51px 24px;
  }
}
@media only screen and (max-width: 400px) {
  #header-menu-trigger .header-menu-text {
    display: none;
  }
}

 

/* vertical animation */
@-webkit-keyframes animate-it {
  0%, 60%, 80%, 100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}
@keyframes animate-it {
  0%, 60%, 80%, 100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}
 
 
.header-logo {position: absolute;left:55px;top:22px; z-index:99;}
.header-logo a {display: block; margin: 0; padding: 0; outline: 0; border: none;  font: 0/0 a;  text-shadow: none; color: transparent; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}

a.loginbuton { background:#05abbd; font-size:17px; color:#fff; padding:8px 30px; border-radius:5px; position:absolute; right:120px; top:30px; z-index:99; text-decoration:none;line-height: normal;border:solid 3px transparent; }
a.loginbuton:hover { background:none; border:solid 3px #05abbd; color:#fff!important; text-decoration:none!important;}

a.loginmainbtn { background:#05abbd; font-size:17px; color:#fff; padding:8px 30px; border-radius:5px; position:absolute; right:280px; top:30px; z-index:99; text-decoration:none;line-height: normal;border:solid 3px transparent; }
a.loginmainbtn:hover { background:none; border:solid 3px #05abbd; color:#fff!important; text-decoration:none!important;}


#home {width: 100%;height: 100%;background-color: #151515;  min-height: 804px;position: relative;}
#home .overlay {position: absolute;top: 0;left: 0; width: 100%; height: 100%; opacity:0.7; background-color: #000; z-index:9; display:none;}
.home-content-table { width: 100%; height: 100%; display: table; position: relative; text-align: center;   background-image: url(../images/bannerimg.jpg); background-repeat: no-repeat;background-position: center top; /*---webkit-background-size: cover; -moz-background-size: cover; background-size: cover; --*/background-attachment: fixed; padding:300px 0}


#menu-nav-wrap {background:#059bab;font-size: 1.5rem; line-height: 1.6; padding: 2rem 0rem; height: 100%; width:280px; position: absolute; right: 0; top: 0; visibility: hidden; overflow-y: auto; z-index: 800; -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden; -webkit-transform: translateX(100%);  -ms-transform: translateX(100%); transform: translateX(100%); -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}

#menu-nav-wrap a, #menu-nav-wrap a:visited {color:#fff; text-decoration:none;}
#menu-nav-wrap a:hover, #menu-nav-wrap a:focus, #menu-nav-wrap a:active { color: white;}
#menu-nav-wrap .nav-list {margin: 3.6rem 0 1.5rem 0;padding: 0 0 1.8rem 0; list-style: none; line-height: 3.6rem;}
#menu-nav-wrap .nav-list li { padding-left: 0; border-bottom: solid 1px #1aaab9; line-height: 4.2rem;}
#menu-nav-wrap .nav-list li:first-child { border-top: 1px dotted rgba(255, 255, 255, 0.03);}
#menu-nav-wrap .nav-list li a { color:#fff; display: block; font-size:16px; padding:15px 15px; text-align:left; line-height:23px;}
#menu-nav-wrap .nav-list li a span i {font-family: 'FontAwesome';font-style: normal;display: block;line-height: normal;}
#menu-nav-wrap .nav-list li a:hover, #menu-nav-wrap .nav-list li a:focus { color: white!important;background: #58b5ca;}


#header-menu-trigger {  display: block;  position: absolute;  right:40px;  top:35px;  height:35px;  width:35px;  line-height: 42px;  font-family: "montserrat-regular", sans-serif;  font-size: 1.4rem;  text-transform: uppercase;  letter-spacing: .2rem;  color: rgba(255, 255, 255, 0.5);  -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  -webkit-transition: all 0.3s ease-in-out;  -ms-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;background: none;padding:0;box-sizing: border-box; z-index:99;}

#header-menu-trigger.opaque { background-color:transparent;border-right:none;}
#header-menu-trigger.opaque .header-menu-text { background-color: #000000;}
#header-menu-trigger:hover, #header-menu-trigger:focus { color: #FFFFFF;}
#header-menu-trigger .header-menu-text { display: block;  position: absolute;  top: 0;  left: -75px;  width: 75px;  text-align: center;  background-color: transparent;  -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  -webkit-transition: all 0.3s ease-in-out;  -ms-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;}

#header-menu-trigger .header-menu-icon {display: block;height:3px;width:30px;background-color: #fff;position: absolute;top:15px;right:2px; margin-top: -1.5px;border-radius: 10px;}
#header-menu-trigger .header-menu-icon::after { content: ''; width:30px;  height: 100%; background-color: inherit; position: absolute; left: 0;  bottom: -9px;border-radius: 10px;}
#header-menu-trigger .header-menu-icon::before {content: '';width:30px;height: 100%; background-color: inherit; position: absolute; left: 0;top: -9px;border-radius: 10px;}

#header-menu-trigger .blues {width: 100%;height: 90px;background: #1010e5;color: #fff;position: absolute;left: 0;bottom: 0;font-size:40px;font-weight:700;text-align: center;padding: 24px 0;box-sizing: border-box;font-family: 'Asap', sans-serif;}



.home-content-tablecell {display: table-cell;vertical-align: middle; z-index: 500; position:relative; padding:0 360px;}
.home-content-tablecell h1 { color:#fff; font-size:53px;margin: 0px 0 50px;line-height: normal;font-weight:700;}
.home-content-tablecell p { color:#fff; font-size:20px;font-weight:300; margin-top:20px;line-height: 33px; text-transform:uppercase;letter-spacing: 6px;}
.home-content-tablecell a.getstred {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a7c88+0,11bbcd+100 */
background: #0a7c88; /* Old browsers */
background: -moz-linear-gradient(left, #0a7c88 0%, #11bbcd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #0a7c88 0%,#11bbcd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #0a7c88 0%,#11bbcd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a7c88', endColorstr='#11bbcd',GradientType=1 ); /* IE6-9 */font-size:23px; color:#fff; padding:13px 60px 13px 35px; border-radius:5px; z-index:99; text-decoration:none;line-height: normal;font-weight: 700; margin:15px 0; position:relative;}

.home-content-tablecell a.getstred::before {content: '';width:30px;height: 100%; position: absolute; right:30px;top: 0px; background:url(../images/arrow-white.png) center center no-repeat;}
.home-content-tablecell a.getstred:hover { background:#0a7c88!important; color:#fff!important; text-decoration:none!important; transition:all 0.5s ease;}

#menu-nav-wrap a.close-button {background: #4ab1ab;padding: 0;float: right;font-weight: 700;border-radius: 100%;width: 35px;text-align: center;height: 35px;font-size: 21px; margin-right:35px;} 
#menu-nav-wrap a.close-button:hover { color:#fff!important;}


/*---------------*/


#beaware { width:100%; float:left;}
.beaware-row { width:100%; float:left; text-align:center;position: relative;top: -128px;}
.beaware-row .orange { border-bottom:solid 5px #ff9331}
.beaware-row .purple { border-bottom:solid 5px #9142ff}
.beaware-row .green { border-bottom:solid 5px #5ac4be}

.beaware-row .orange h3{ color:#ff9331;}
.beaware-row .purple h3{ color:#9142ff;}
.beaware-row .green h3{ color:#5ac4be;}

.beaware-row .margin { margin:0 60px;}

.beaware-row .beaware-col { width:375px; display:inline-block; height:390px; background:#fff; border-radius:8px; padding: 50px 25px 10px 25px;box-shadow: 0px 14px 47px 6px rgba(0,0,0,0.2); position:relative; top:0; transition: all 0.3s ease-in-out; z-index:999;}
.beaware-row .beaware-col:hover { top:-25px; transition: all 0.3s ease-in-out;}

.beaware-row .beaware-col:hover .beaware-icons img {transform: rotateY(180deg);} 

.beaware-row .beaware-col .beaware-icons img {perspective: 1000px;transition: transform 0.6s;  transform-style: preserve-3d;}
.beaware-row .beaware-col .beaware-icons { width:100%; float:left;}
.beaware-col .beaware-hading { width:100%; float:left;margin: 10px 0 30px;}
.beaware-col .beaware-hading h3 { font-size:30px; font-weight:700; margin:0 0; line-height:38px;}

.beaware-content { width:100%; float:left; text-align:left;}
.beaware-content p { color:#000; font-size:16px;margin: 0;line-height: 29px;}

.beaware-arrow { width:100%; text-align:right;float: left;margin-top: 15px;}
 

.beaware-bottomheading { width:100%; float:left; text-align:center;position: relative;margin: 40px 0 60px;}
.beaware-bottomheading h2 { color:#020a17; font-size:40px; font-weight:800; margin:0;position: absolute;width: 100%;text-align: center;top: 65px;}
.beaware-bottomheading h2 span { color:#9142ff;}
 
/*-------------------------------------*/

#budgetpay { width:100%; float:left; background:#f0f7fd;}
.budgetpay-main { width:100%; float:left; padding:100px 0}
.budgetpay-heading { width:100%; float:left; text-align:center;}
.budgetpay-heading h2 { color:#020a17; font-size:44px; margin:0; font-weight:600;}
.budgetpay-heading p {color: #020a17;font-size: 17px;margin: 30px 0;font-weight: 400;padding: 0 170px;line-height: 31px;}
.budgetpay-heading a { color:#0555ff; font-size:17px; margin:0;font-weight: 600;text-decoration: none; position:relative;}
.budgetpay-heading a:hover { text-decoration:none!important;color:#0555ff!important;}
.budgetpay-heading a::before {content: '';width:30px;height: 100%; position: absolute; right:-30px;top:2px; background:url(../images/arrow-blue.png) center center no-repeat;}

.budgetpay-tabs { width:100%; float:left;margin: 30px 0 0;}
.budgetpay-tabs-left { width:270px; float:right; margin-top:65px;}
.budgetpay-tabs-content { width:73%; float:left;}


 
/*  bhoechie tab */
div.bhoechie-tab-container{}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{ margin-bottom: 0;display: block;font-size: 18px;text-decoration: none;margin:8px 0;padding: 8px 10px;border-radius: 8px !important; background:none; border:none; text-align:left!important;}
div.bhoechie-tab-menu div.list-group>a img { float:left;}
div.bhoechie-tab-menu div.list-group>a span { padding-left:8px; line-height:41px;}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active { background:#fff;box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.1); margin:8px 0!important; color:#000!important;}

/*-div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}--*/

div.bhoechie-tab-content { text-align:center}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){display: none;}

 
 
 
.blueslider { width: 100%; float: left; background:#0147b3; padding:80px 110px;}
.blueslider-heading { width:100%; float:left; text-align:center; margin-bottom:95px;}
.blueslider-heading h2 { color:#fff; font-size:44px; margin:0; font-weight:600; margin:0 0 20px}
.blueslider-heading p {color: #fff;font-size: 17px;margin:0px 0;font-weight: 400;padding: 0 170px;line-height: 31px;}

.blueslider-main { width: 100%; float: left; position:relative; position:relative;}
.blueslider-main .testi-sliderimg { padding:0 0; text-align:center;}
.blueslider-main .testi-sliderimg img { width:200px;margin-top: 25px;}
.blueslider-main .owl-wrapper .active + .active + .active .testi-sliderimg img { width:220px;margin-top: 0px;}
.blueslider-main .owl-wrapper .active + .active + .active + .active .testi-sliderimg img { width:200px;margin-top: 25px;}
.blueslider-main .owl-wrapper .active + .active + .active + .active + .active .testi-sliderimg img { width:200px;margin-top: 25px;}


.blueslider-main .owl-pagination { margin-top:45px!important; z-index:99;}
.blueslider-main .owl-pagination .active span {width:7px!important; height:7px!important;}
.blueslider-main .owl-pagination .owl-page span { background:#fff!important; width:8px!important; height:8px!important;margin: 0 4px !important;}
.blueslider-main .owl-item { position:relative;}
.blueslider-main .owl-item .item { position:relative;}
.blueslider-main .owl-item .item:before { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(1, 71, 179, 0.9); z-index:9; content:'';}
.blueslider-main .owl-wrapper .active:nth-child(3):before{ display:none;}

.blueslider-main .owl-wrapper .active + .active + .active .item::before { display:none !important;}
.blueslider-main .owl-wrapper .active + .active + .active + .active .item::before { display:block !important;}
.blueslider-main .owl-wrapper .active + .active + .active + .active + .active .item::before { display:block !important;}


.blueslider-main .blueopacity {}

.blueslider-main .owl-buttons {position:absolute; left:50%;top:40%;transform: translate(-50%,-50%); width:70%; z-index:99;}
.blueslider-main .owl-buttons .owl-prev { width:48px; height:48px; background:#7ad51b; text-align:center; float: left;position: relative;left: -66px; font-size:0px!important;background: #fff !important;
opacity: 1 !important;}
.blueslider-main .owl-buttons .owl-prev:before { content:''; width:100%; height:100%; position:absolute; left:0; top:0;background:url(../images/review-arrowleft.png) center center no-repeat;} 

.blueslider-main .owl-buttons .owl-next { width:48px; height:48px; background:#7ad51b; text-align:center; float: right;position: relative;right: -66px;font-size:0px!important;background: #fff !important;
opacity: 1 !important;}
.blueslider-main .owl-buttons .owl-next:before { content:''; width:100%; height:100%; position:absolute; left:0; top:0;background:url(../images/review-arrowright.png) center center no-repeat;} 


 
/*-----------------*/

#getstarted { width:100%; float:left;padding-top: 94px;}
.getstarted { width:100%; float:left; text-align:center;}
.getstarted h2 {color:#020a17; font-size:40px; margin:0 0 50px; font-weight:700;}
.getstarted a { background:#20aa89;font-size:23px; color:#fff; padding: 18px 100px 18px 55px; border-radius:5px; z-index:99; text-decoration:none;line-height: normal;font-weight: 700; margin:15px 0; position:relative;border:solid 3px transparent; }
.getstarted a:hover { background:none; border:solid 3px #20aa89; color:#20aa89!important; text-decoration:none!important;}


.getstarted a::before {content: '';width:30px;height: 100%; position: absolute; right:55px;top: 0px; background:url(../images/arrow-white.png) center center no-repeat;}


.getstarted-slider { width:100%; float:left; margin-top:130px;}
.getstarted-sliderheading { width:100%; float:left; margin-bottom:20px; text-align:center;}
.getstarted-sliderheading h2 {color:#020a17; font-size:35px; margin:0 0 10px; font-weight:600;}

.getstarted-slidermain { width:100%; float:left; position:relative;}
.getstarted-slidermain .item { margin:0 20px}
.getstarted-slidermain .sliderow { width:100%; float:left; padding:20px 15px;border:solid 1px #f2f5f8; border-radius:5px; background:#fff;box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.1); margin:30px 0}
.getstarted-slidermain .sliderow p { font-size:15px; color:#000; width:100%; float:left;line-height: normal; min-height:35px;}
.getstarted-slidermain .sliderow .slidename { width:100%; float:left;}
.getstarted-slidermain .sliderow .slidename .img { width:auto; float:left;}
.getstarted-slidermain .sliderow .slidename .name { width:auto; float:left; padding-left:8px; line-height:19px;}
.getstarted-slidermain .sliderow .slidename .name span { font-size:15px; color:#7e8f9f; line-height:normal;}
.getstarted-slidermain .sliderow .slidename .name span strong { display:block;}
.gradientleft {position: absolute;left: -25px;top: 0;width: 140px;height: 100%;z-index: 99;background: linear-gradient(to right, rgba(255, 255, 255,1) 50%,rgba(125,185,232,0) 100%); background: -webkit-linear-gradient(to right, rgba(255, 255, 255,1) 50%,rgba(125,185,232,0) 100%);}
.gradientright {position: absolute;right: -25px;top: 0;width: 140px;height: 100%;z-index: 99;background: linear-gradient(to left, rgba(255, 255, 255,1) 50%,rgba(125,185,232,0) 100%);background: -webkit-linear-gradient(to left, rgba(255, 255, 255,1) 50%,rgba(125,185,232,0) 100%);}








.acordian-section { width:100%; float:left;margin: 90px 0 70px;}
.acordian-main { width:100%; float:left;}
.acordian-main-heading {width:100%; float:left; text-align:center;}
.acordian-main-heading h1 {margin: 0;padding:0px 0 55px;color: #020a17;font-weight:700;font-size:45px;}



.acordian-main-data {width:100%; float:left;}
.accordion { width:50%; float:left; max-width:100%; padding-right:15px;} 
.acordian-main .right { float:right; width:45%;}

.accordion ul { margin:0;}
.accordion .list-group-item{text-transform: capitalize;padding:15px 0px;border: none !important;margin: 0 0 0px;background: none;}
.accordion li[aria-expanded="true"] { background:#fff; border:none !important;}

.accordion .list-group-item h3 { color:#000; margin:0; font-size:20px; font-weight:700;cursor:pointer; padding:0 18px;}
.accordion .list-group-item .innercontent { width:100%; float:left;}
.accordion .list-group-item .innercontent p {color:#000; font-size:15px;line-height: 26px; padding-top:15px; margin:0;}

.accordion li:after { content: "+"; /* fa-chevron-down */width:13px; height:7px;position: absolute;left:0px;top: 12px;background-size: 10px;font-size: 20px; font-weight:600;}
.accordion li[aria-expanded="true"]:after { content: "-"; /* fa-chevron-up */width:13px; height:7px;color: #20aa89;}
.accordion li[aria-expanded="true"] h3 { color:#20aa89;}


#ssl-section { width:100%; float:left; background:#fafcff; padding:70px 0}
.ssl-main { width:100%; float:left;}
.ssl-left { width:320px; float:left;}
.ssl-right { width:72%; float:right; padding:0 60px}
.ssl-right h2 {color:#020a17; font-size:45px; margin:0 0 25px; font-weight:500;}
.ssl-right p {color:#020a17; font-size:17px; margin:0 0 0px; font-weight:400;line-height: 34px;}



#footersection { width:100%; float:left; background:#58b5ca; padding:70px 0 0;position: relative;z-index: 999;}
.footermian {width:100%; float:left; }
.footer-left {width:32%; float:left;border-right:solid 1px #a9d9e5;padding-right: 55px;}
.footer-left img { float:none;}
.footer-left p { font-size:15px; color:#fff; margin:0;padding: 20px 0 30px;line-height: 25px;}

.footer-right {width:62%; float:right; padding:74px 0 0;}
.footer-right-col { width:33.333%; float:left;}
.footer-right-col ul { line-height:normal; padding:0; margin:0;}
.footer-right-col ul li { list-style:none; padding:0; margin:0;}
.footer-right-col ul li a { font-size:14px; color:#fff; text-transform:uppercase; padding:12px 0; display:block;}
.footer-right-col ul li a:hover { color:#a9d9e5!important; text-decoration:none;}
.footer-right-col p {font-size:14px; color:#fff; padding:10px 0 0; text-align:right; font-weight:300;}

.footermian-copy { width:100%; float:left; text-align:center; padding:40px 0 30px;}
.footermian-copy p {font-size:15px; color:#fff;padding: 0px 0 0;font-weight:400; margin:0; } 

body.home section.headersection {background: none;padding: 0; position:relative; overflow:hidden;}
.bannerdiv { display:none;}
body.home .bannerdiv { display:block;}
body.home #app { background:none!important;}





.mobilefram {  width: auto; height: auto;  position: absolute;  left: 50%;  top: 45%; transform: translate(-50%,-50%); z-index: 9;}
.mobilefram img { width:253px;}

.mobimg { display:none;}
