@media screen and (max-width: 1550px) {
.home-content-tablecell p { font-size: 14px;}
.home-content-tablecell { padding:0 100px;}
.home-content-tablecell a.getstred { font-size:18px;}
.beaware-bottomheading h2 {color: #020a17;    font-size: 31px;}
.budgetpay-heading h2 { font-size: 35px;}
.header-logo img { width:180px;}


}



@media screen and (max-width: 1280px) {
.container { width: 992px !important;}
.beaware-row .beaware-col {width: 305px;height: 360px;}
.beaware-row .margin {margin: 0 30px;}
.beaware-col .beaware-hading h3 {font-size: 22px;line-height: 30px;}
.beaware-content p {font-size: 13px; line-height: 25px;}
.beaware-col .beaware-hading { margin:20px 0}
.beaware-bottomheading {margin: 20px 0 40px;}
.beaware-bottomheading h2 { font-size: 27px;}
.budgetpay-main { padding:50px 0}
.budgetpay-heading h2 { font-size: 29px;}

.budgetpay-tabs-content { width: 68%; float: left;}
div.bhoechie-tab-menu div.list-group > a { font-size:15px;margin: 4px 0;padding: 5px 10px;}
.budgetpay-tabs-left { width: 230px;}

.blueslider-heading { margin-bottom:95px;}
.blueslider-heading h2 { font-size:34px;}
.blueslider-heading p { padding:0;}

#getstarted { padding-top:50px;}
.getstarted h2 {font-size: 30px;}
.getstarted a { font-size: 20px; padding: 10px 70px 10px 45px;}
.getstarted-slider { margin-top:80px;}
.getstarted-sliderheading h2 { font-size:28px;}
.acordian-main-heading h1 { padding: 0px 0 35px;font-size: 35px;}
.accordion .list-group-item h3 { font-size: 15px;}

#ssl-section {padding: 50px 0;}
.ssl-left { width: 240px; float: left;}
.ssl-right { width:72%; padding:0;}
.ssl-right h2 { font-size: 33px;margin: 0 0 25px;}
.ssl-right p { font-size:14px; line-height:28px;}
.footer-right-col ul li a { font-size: 13px;}



.home-content-tablecell h1 { font-size: 42px;}
.getstarted a::before { right: 25px;}

.accordion li::after { top:8px;}

}




@media screen and (max-width: 1024px) {
.container { max-width: 95% !important;}
#home { min-height:1px;}

.home-content-table { padding:160px 0 200px;}
.home-content-tablecell {padding: 0 20px;}
.home-content-tablecell h1 { font-size:38px;}

 
.pricelist { margin:30px 0}
.pricetablecontent { width:50%;}

.support-icons .icon {width: 100%;margin-bottom: 10px;}
.subscription-box h1 {font-size: 25px;}
.halfdiv-section .acordian-main-heading h1 {font-size: 23px;}

.basicmain .benifits-brief { padding: 0 0px; text-align: center;}
.benifits-half { width: 100%;}
a#show_nav { display:block; color:#fff;}
.category-sidebar { margin-bottom:25px;}
.category-sidebar ul { display:none;margin-top: 15px;}
	
	
.category-sidebar, .category, .book-detail-left, .book-detail-right { width: 100%; margin-right: 0px;}	
.dashboardpages { padding: 30px 0;}
.category { width: 100%;}


.halfdiv-section .acordian-section .container {width: 100% !important;max-width: 100% !important;}
.loginform-buttons {padding: 0px 10px 10px;}		

.mobilefram img { width: 207px;}
.blueslider-main .owl-wrapper .active + .active .item::before { display:none !important;}
.blueslider-main .owl-wrapper .active + .active + .active .item::before { display:block !important;}
.blueslider-main .owl-wrapper .active + .active + .active + .active .item::before { display:block !important;}
.blueslider-main .owl-wrapper .active + .active + .active + .active + .active .item::before { display:block !important;}


.blueslider-main .testi-sliderimg img { width: 160px;}
.blueslider-main .owl-wrapper .active + .active .testi-sliderimg img { width:180px;margin-top: 0px;}
.blueslider-main .owl-wrapper .active + .active + .active .testi-sliderimg img { width:160px;margin-top:25px;}
.blueslider-main .owl-wrapper .active + .active + .active + .active .testi-sliderimg img { width:160px;margin-top:0px;}
.blueslider-main .owl-wrapper .active + .active + .active + .active + .active .testi-sliderimg img { width:160px;margin-top:0px;}

.price-container { width: 100%; margin: 0 auto;}
.titlemain h1 { font-size: 30px; margin-bottom: 20px; margin-top: 20px;}

#menu-nav-wrap .nav-list { margin: 1.6rem 0 1.5rem 0;}
#menu-nav-wrap {padding: 1rem 0rem;}
#menu-nav-wrap a.close-button {margin-right: 20px;}


}




@media screen and (max-width: 768px) {
.header-logo { position: absolute; left: 25px;}
#header-menu-trigger { right: 30px;}
a.loginbuton { right:90px;}
a.loginmainbtn { right:250px;}

#menu-nav-wrap .nav-list li a { font-size:16px;}
.beaware-row .beaware-col { width: 215px;padding: 20px 15px 10px 15px;height: 320px;}
.beaware-row .margin {margin: 0 20px;}
.beaware-col .beaware-hading h3 { font-size: 18px; line-height: 25px;}
.beaware-content p { font-size: 12px; line-height: 21px;}
.budgetpay-heading p { padding:0; font-size:16px;}

#menu-nav-wrap a.close-button { background:none; padding: 0; float: right; font-weight: 700; border-radius: 100%;font-size: 19px;}
.budgetpay-tabs-left { margin-top:25px;}
.blueslider { padding: 30px 30px;}
.getstarted-slidermain .item {margin: 0 10px;}
.ssl-left { width: 170px;float: left;}
#footersection {padding: 40px 0 0;} 
.footer-left { width: 100%; float: left; border-right: none; padding-right: 0px;}
.footer-right { width: 100%; float: right; padding: 10px 0 0;}
.footermian-copy { padding:30px 0}

.pricetablecontent { width:50%;}
.halfdiv-section { width: 100%;}
 
 
.dashboard-section2-row {width: 100%;margin: 0 0 10px;}
.dashboard-section2 .info-box-content { width: 220px; float: left;text-align: left;}




#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {display: block; }


/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr { position: absolute;top: -9999px;left: -9999px;}
#no-more-tables tr { border: 1px solid #ccc; }
#no-more-tables tr:last-child { border: 1px solid #ccc !important; }
#no-more-tables td { /* Behave  like a "row" */border: none;border-bottom: 1px solid #CCCCCC; position: relative;padding-left: 50%; white-space: normal;text-align:left;min-height: 50px;line-height: 22px; font-size:16px;word-break: break-all;}
#no-more-tables td:before {position: absolute;  top: 0px; left: 14px; width: 45%; padding-right: 10px;  white-space: normal; text-align: left; font-weight: bold; height: 100%; display: flex; flex-wrap: wrap; align-items: center; align-content: center;  height: 100%;word-break:break-all;}
#no-more-tables td a { word-break:break-all;}
#no-more-tables td:before { content: attr(data-title); }

.dashboard-widget-row { width: 48%;	}
.dashboard-widget-row .info-box-content { width: 72%;}


.mobilefram { top:43%;}
.mobilefram img { width: 203px;}

.dashboard-recenttable table td a.recurring { display: inline-block;margin-left: 5px;}
ul.testimonialspage {width: 100%;text-align: center;padding: 0 20px;}
ul.testimonialspage li .slidename .name span { display:inline-block; width:100%;}
ul.testimonialspage li .slidename .name span strong { padding-right:0px; display:block;}
ul.testimonialspage li .slidename .img { width: 100%; display: inline-block;}

}



@media screen and (max-width: 767px) {
.inner-container {width: 90%;}


.home-content-tablecell h1 {font-size: 18px;margin: 0px 0 30px;line-height: 32px;}
.home-content-tablecell p { line-height:29px;letter-spacing: 3px;}

.header-logo img { width: 110px;}
.header-logo { position: absolute; left: 11px; top:17px;}
#header-menu-trigger { right: 17px;top: 20px;}
.home-content-tablecell a.getstred { font-size:15px;padding: 10px 50px 10px 24px; display:block;}
.getstarted a {  font-size: 17px; padding: 10px 50px 10px 15px;}
.getstarted a::before { right: 13px;}

a.loginbuton { right:59px; padding: 6px 6px;font-size: 12px;top: 18px;}
a.loginmainbtn { font-size: 12px;padding: 6px 6px;right: 136px; top: 18px;}
.home-content-table { padding: 80px 0 120px;}
.beaware-row { position: relative;top: -68px;}
.beaware-row .beaware-col {width: 85%; height:auto;}
.beaware-row .margin { margin: 15px 0px;}
.beaware-bottomheading h2 { font-size: 19px; position: relative; top:30px; right: 0; font-weight: 600; padding: 0 20px; line-height: 26px;}
.beaware-bottomheading { margin: 2px 0 0px;}

.budgetpay-heading h2 { font-size: 20px;}
.budgetpay-heading p { padding: 0; font-size: 14px; line-height: 23px; margin: 13px 0;}
.budgetpay-heading a { font-size: 14px;}
.budgetpay-main { padding: 30px 0;}
.budgetpay-tabs-left { width: 100%;margin: 0 !important;}
div.bhoechie-tab-menu div.list-group { display:block; text-align:center;padding: 0 40px;}
div.bhoechie-tab-menu div.list-group > a {font-size: 15px; margin: 4px 0; padding: 5px 10px; display:block; border: solid 1px #d1e3e2;}
.budgetpay-tabs-content { width: 100%; float: left;} 
.blueslider-heading h2 { font-size: 24px;}
.blueslider-heading p { color: #fff; font-size: 14px; margin: 0px 0; line-height: 24px;}
.blueslider-heading { margin-bottom: 30px;}
#getstarted { padding-top: 20px;}
.getstarted h2 { font-size: 24px;}

.home-content-tablecell a.getstred::before { right: 10px}

.getstarted-slider { margin-top: 50px;}
.getstarted-sliderheading h2 {font-size: 21px;}

.gradientleft, .gradientright { display:none;}
.acordian-section {margin: 10px 0 20px;}
.acordian-main-heading h1 { padding: 0px 0 15px;font-size: 27px;}
.accordion {width: 100%; padding:0;}
.acordian-main .right { float: right; width: 100%;}

#ssl-section { padding: 30px 0;}
.ssl-main {text-align: center;}
.ssl-left { width: 100%; float: left;padding: 0 40px;}
.ssl-right { width: 100%;  padding: 0;}
.ssl-right h2 { font-size: 22px; margin: 20px 0 15px;}

.footermian {text-align: center;}
#footersection { padding: 20px 0 0;}

.footer-right-col {width: 100%; float: left;}
.footer-right-col ul li a {font-size: 13px; padding: 6px 0;}
.footer-right-col p { font-size: 14px;padding: 15px 0 0; text-align: center; float:none;}
#menu-nav-wrap { width:100%; z-index:9999;}
#menu-nav-wrap {  font-size: 1.5rem; padding: 10px;}
#menu-nav-wrap .nav-list { margin: 0rem 0 0rem 0; padding: 0 0 0rem 0;}
#menu-nav-wrap a.close-button {position: absolute;right: 20px;top: 19px;margin: 0;}

.blueslider-main .owl-item .item::before { display:none;}


.headersection { padding:33px 0}


.pricelist { margin:10px 0;padding: 20px 0px 10px;}
.pricetablecontent { width:100%;margin: 10px 0px; min-height:0;}
.pricelist .title, .pricing-form h1, h1.maintitle { font-size: 27px; margin-bottom:20px;}
.pricelist .plan { font-size:17px; padding:6px 0;}
.pricelist .features li { padding:5px 0}
.pricelist .price {font-size: 16px; padding:10px 0;}
.pricelist .price a { position:relative;left: 0;transform: none;font-size: 15px;color: #fff;padding: 8px 26px;}
.pricelist .buttonlink { padding: 8px 0 10px;}


.loginsection { margin:10px 0;}
.logincontainer { width: 100%; margin: 0 auto;}
.login-signup-title a { font-size:17px; padding:15px 0}
.loginform { padding:20px;}
.loginform-buttons button.btn { }
.loginform-buttons .lostpass {width: auto;text-align: center;margin-top: 6px;float: none !important;}
.loginform input.form-control { height:40px;}

.pricetablecontent .plantop {min-height:auto; padding:0 10px;}
.pricelist .price span {font-size: 37px;}

.logindrop .nav-list {right: 60px;top: 18px; z-index:999;}
.logindrop .nav-list li a#navbarDropdown { font-size:11px;	}

.tab-section { width: auto;text-align: center; margin-top: 20px;}
.tab-section .tab { padding: 12px 10px;font-size: 12px;}

.login-signup-title {padding: 0 10px;}
.login-signup-title h3 { font-size:18px;}
.pricingmain .half { width: 100% !important; float: left; padding: 0 0px;}
.loginform-buttons button.btn, .loginform-buttons input.button { font-size:15px; height:auto;margin: 10px 5px 10px 0px; padding:10px;}
.loginform-buttons a.cancelbutton {font-size:15px; height:auto; margin:10px 0; padding:10px;}

.loginform-buttons { padding-bottom:0;}


.cardnumbertext .input-icon { font-size:20px;}
.cardnumber .input-icon {color: #fff;font-size: 17px;}
.cardnumber .input-icon input { width:90%;}
.card-expmain .col-sm-6 { margin-top:8px;}
.card-expmain .card-exp-cvv .input-icon { width: 58%;}
.card-expmain .card-exp-cvv .cvvimg { margin:0;}

.titlemain h1 { font-size: 23px; margin-bottom: 20px; margin-top: 20px;}
.cancelaccounermain .halfblue { padding: 10px 10px;}
.subscription-box h1 { font-size: 21px;}
.subscription-box .form .g-recaptcha {transform: scale(0.70);-webkit-transform: scale(0.70);transform-origin: 0 0;-webkit-transform-origin: 0 0;}
.subscription-box .finishbtn { width:100%;padding: 0px 5px; font-size:17px;}
.subscription-box .form { padding:10px 10px;}

.halfdiv-section { width: 100%; padding: 20px 10px;}
.halfdiv-section .acordian-main-heading h1 { font-size: 21px;}
.halfdiv-section .accordion .list-group-item h3 { font-size: 14px;}
.halfdiv-section .accordion .list-group-item {  padding: 13px 8px;}
.pricelist .buttonlink a { font-size: 18px;padding: 8px 40px;}

.basicmain .benifits-brief h1 { font-size:20px;}
.basicmain { padding: 20px 10px;}
.benifits-half { padding: 10px 10px;}
.benifits-half h3 { font-weight: 600; font-size: 21px;}

.category h1 {font-size: 24px !important; padding: 7px 0;}
.category h2 {font-weight: 600;font-size: 22px !important;word-break: break-word;}
.category-sidebar { margin-bottom: 15px;}
.dashboard-section2 .info-box-content { width:100%; text-align:center;}

#no-more-tables {height: auto; max-height:400px; overflow: auto;}
.dashboard-form {padding: 20px 20px;}
.dashboard-search .formitem { width: 100%;float: left; padding: 0 0px;}
.dashboard-widget-row {width: 100%;}
.dashboard-search .submit-search { padding:0;margin: 0px 0 0;}


.mobilefram { width: 182px; left: 50%; top: 43%;}
.mobilefram img { width:100%;}
.blueslider-main .testi-sliderimg img {margin-top: 0;}

img.mobimg { display:inline-block;}
img.deskimg { display:none;}

.pricelist .features ul { margin: 10px 0; padding: 0 0px;}

.dashboard-section2 .info-box-icon { width: 100%;}
.dashboard-widget-row .info-box-icon { width: 100%;}
.dashboard-widget-row .info-box-content { width: 100%; text-align: center;margin: 0 0 5px;}

.div25 { width: 100%;}
.div33 { width: 100%;}

.loginform-buttons button.btn span.arrow-icon::after {width: 18px;}
.loginform-buttons button.btn span.arrow-icon { padding-right:26px;}

.loginform-buttons .form-group { text-align:center;}
.loginform-buttons .rememberleft { width: auto; float: none !important; display: inline-block;}


}