@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url("font-awesome.css");

.container-header { width:100%; padding:0 80px; max-width:100%;}
.body-container { width:1170px; margin:0 auto; max-width:100%;}
.login-container {width:840px; margin:0 auto; max-width:100%;}

.home-section { width:100%; float:left; height:auto;}
.home-banner {width:100%; float:left; height:100vh;  background-position:center top; padding-top:180px; text-align:center; background-image: /*radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7987394787016369) 83%), */ url(../img/pdfcover.jpg);background-size: cover;background-repeat: no-repeat;}
.home-banner h1 {color: #fff;font-size: 68px;font-weight:700;margin: 0;font-family: Roboto, sans-serif; }
.home-banner p {color: #fff;margin: 20px 0 0px;font-size: 21px; font-weight:400;}
.home-banner a {background: #e44132;color: #fff;padding:16px 43px;font-size: 23px;font-weight: 600;border-radius: 55px; margin-bottom:0px}
.home-banner a:hover { text-decoration:none; color:#e44132;}
.home-banner span {color: #fff;margin:5px 0 0px;font-size:16px;display: block; font-weight:500;}

/*-----------------*/

.home-login {width:100%; float:left; height:auto; padding:30px 0px; background: url(../img/homelogin-bg.png) left top repeat;}
.homelogin-left {width:83.3%;float: left;}
.homelogin-left .home-form-group {width: 320px;float: left; margin:0 29px 0 0}
.homelogin-left .home-form-group input {border: none;border-radius: 0;height: 48px;font-size:14px;font-weight: normal;font-family: 'Roboto', sans-serif;}
.homelogin-left .home-form-group .form-check { margin-top:10px;}
.homelogin-left .home-form-group .form-check input[type="checkbox"] + label::before {background: #fff; opacity:1;border: 1px solid #fff;}
.homelogin-left .home-form-group .form-check input[type="checkbox"] + label {color: #fff;font-size: 12px;padding-left: 30px;}
.homelogin-left .home-form-group .form-check input[type="checkbox"]:checked + label::before {width: 10px; top: -5px; left: 5px;border-radius: 0;opacity: 1;border-top-color: transparent;border-left-color: transparent; -webkit-transform: rotate(45deg);transform: rotate(45deg); background:none;}

.homelogin-left .home-form-group a.btn-links {color: #fff;font-size: 12px;padding: 0;margin-top: 8px; font-weight:normal;}

.homelogin-button {float: left;width:auto;}
.homelogin-button button, .btn-red {background: #e44132;width: auto;padding: 7px 40px;height: 48px;text-transform: uppercase;font-size:15px;font-weight: 500;border-radius: 0;border:2px solid #e44132;}
.homelogin-button button{width:135px; padding:7px 0px; }
.homelogin-button button:hover, .btn-red:hover {background: #fff; color: #e44132;}

.subscription-box{padding:30px 0px; text-align:left; font-size:16px; line-height:23px; color:#000; background:url(http://ardmore28.com/images/client-divider.png) no-repeat right; background-position: 114% 0px;min-height: 350px; padding-right:35px;	}
.subscription-box form{margin-top:30px;}
.subscription-box h3{font-size: 22px; }
.subscription-box p{ margin-bottom:0; }
.subscription-box .finishbtn{background: #12b683; color: #fff;display: inline-block;width: auto;height: 56px;text-align: center;line-height: 56px;text-transform: none;font-weight: 700;font-size: 20px;letter-spacing: 0.5px;
border-radius: 3px;padding: 0px 45px; margin-right:20px; text-decoration:none}
.subscription-box  a{color:#12b683; text-decoration:underline}
.h50{height:50px; width:100%}
.h25{height:25px; width:100%} 
.subscription-box ul{margin-bottom:20px; margin-top:0px;}
.subscription-box ul li{padding:7px 0px}
.subscription-box h1 {text-align:left}
.membership-contact {font-size:15px; background:none}
.membership-contact .email{ color:#12b683; text-decoration:none; display:inline-block; }
.highlightbox-inner{background:#fff; border:1px solid #f2efef; padding:25px 25px; margin:50px auto; box-shadow: 0 5px 10px rgba(36,50,56,.10);}
.highlightbox-inner ul{margin-top:15px; margin-left:15px;}
.smalltext{font-size:13px; font-weight:300; line-height: 18px;}
.smalltext strong{font-weight:700; color:#000}

ul{margin:0px; padding:0px; }

.allbookslisting{width:100%!important; border:0px!important;}
.allbookslisting .category-box{border-bottom: 1px solid #ccd1d8; float: left; background-color: #fff; text-align: center; padding: 5px; width:100%}
.allbookslisting .category-box:hover, .innerright-side .category-box:hover{box-shadow: 0 5px 10px rgba(36,50,56,.25);}
.allbookslisting li.category-list{padding:0 10px 20px}

.allbookslisting .category-list .category-img{height:250px;}
.allbookslisting .category-list .category-img img{max-height:95%}
.allbookslisting .category-text{height:42px; overflow:hidden}

img{max-width: 100%;}

.halfdiv-section{width:50%; float:left; padding:0px 15px;}


.centreclass{text-align:center; padding:15px 0px; clear:both}
.centreclass img.mobileimg{display:none} 
.centreclass img.cards{width:auto}
/*------------------*/


h6{margin: 0;padding: 0;    padding-left: 0px;line-height: 1.2;}
.qna-wrap {    margin-bottom: 10px;}
.qna-title {    font-size: 14px;}
.qna-title, .qna-content {    position: relative;    padding-left: 20px;    font-weight: 500;    font-weight: 700; color: #000; line-height:19px; font-weight:300}
.qna-content{font-weight:400!important; margin-top:5px!important;}
.qna-title::before, .qna-title::after, .qna-content::before, .qna-content::after {
    content: "";    display: block;    position: absolute;}
.qna-title::before {    content: 'Q';}
.qna-title::before, .qna-content::before {    left: 0;    transition: .15s ease;    line-height: 1;    font-weight: 700;}
.qna-content {    margin: 10px 0;    padding-bottom: 10px;    border-bottom: 1px solid #e6e6e6;    font-size: 13px;    font-weight: 400;}
.qna-title, .qna-content {    position: relative;    padding-left: 20px;    font-weight: 500;    font-weight: 700;    color: #000;}
.qna-content::before {    content: 'A'; padding-top:3px;}



.home-collection { width:100%; float:left;}
.home-collection-text { width:100%; float:left;padding:85px 105px 70px; text-align:center;}
.home-collection-text h2, .subscription-box h1, .membership-contact h1, .featured-books-section .title, .inner-container h1, .book-detail-right h1{color: #232122;font-size:38px;font-weight:300;margin: 0;font-family: Roboto;}
.inner-container h1, .book-detail-right h1{margin-bottom:25px; border-bottom:1px solid #e1e1e1; padding-bottom:10px;}
.featured-books-section .title{font-size:32px; border-bottom:1px solid #e1e1e1; padding-bottom:5px; margin-bottom:25px;}
/*.featured-books-section .title a{text-align:right; float:right; font-size:14px; font-family:Roboto}*/
.home-collection-text h2{padding: 0 0px;font-weight: 700;max-width: 600px;margin: 0 auto;}
h1.hidden-xs, .subscription-box h1, .membership-contact h1, .pricing-form h1{text-align:left; padding: 0px;margin-bottom: 25px; font-size:35px; border: 0px;padding-bottom: 10px;margin-bottom: 10px;}
/*.membership-contact h1{font-family: Roboto;font-weight: 500;font-size: 28px;margin-top: 6px;}*/
.home-collection-text p {color: #232122;margin:34px 0 0px;font-size:17px; font-weight:300;}

.home-collection-slider { width:100%; float:left;padding:0; text-align:center;}
.home-collection-slider-img {width:100%; float:left;}
/*.home-collection-slider a.collectionbut {background: #e44132;width: auto;padding: 25px 40px;height:auto;font-size:16px;font-weight: 500;border-radius: 55px; display:inline-block; margin:55px 0 76px; color:#fff; line-height:normal; text-decoration:none;}
.home-collection-slider a.collectionbut:hover { background:none; color:#e44132;}*/
.home-collection-slider .btn-default:hover{background-color: #fff; color:#e44132; }
.btn-default{background: #e44132;width: auto;padding: 25px 40px;height:auto;font-size:16px;font-weight: 500;border-radius: 55px; display:inline-block; margin:55px 0 76px; color:#fff; line-height:normal; text-decoration:none;border: 3px solid #fff; text-decoration: none;}
.btn-default:hover{ background:none; color:#e44132; border-color:#e44132;} 
/*--------------------*/

.editprofile-tab{min-height:500px;}
.editprofile-tab .tab-section{text-align:center}
.editprofile-tab .tab{display: inline-block;padding: 10px 26px;border-radius: 50px;line-height: 25px;text-align: center;background: #f5f5f5;
border: 1px solid #ccc;margin: 0px 10px;text-transform: uppercase;font-weight: 700;color: #000; cursor:pointer; position:relative}

.editprofile-tab .tab.active, .editprofile-tab .tab:hover{background:#12b683; color:#fff; border-color:#12b683}
.editprofile-tab .tab.active::after{content: '';width: 0px;height: 0px;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #12b683;position: absolute;left: 50%;margin-left: -10px;top: 100%;}
.containerjoin.editprofile-tab .title{color: #000;font-size: 32px;font-weight: 700;margin: 50px 0px;}
.containerjoin.editprofile-tab .title span{color:#e44132}
.editprofile-tab .pricing-form{padding-top:0px; max-width:none}
.editprofile-tab .buymembershipsection input, .editprofile-tab .buymembershipsection select{height: 45px;width: 100%;padding: 15px;margin-bottom: 20px;border: 1px solid #999; border-radius:5px;}
.editprofile-tab .cvv{height:40px; margin-right:10px;}
.editprofile-tab label{margin-bottom: 3px;font-weight: 700!important;text-transform: uppercase;color: #333;}
.editprofile-tab .buymembershipsection .btn-primary{max-width:310px; margin:0 auto; border-radius:50px; float:none; display:block; text-transform:uppercase}
.editprofile-tab .buymembershipsection{padding-top:0px;}
.change-plan button{background: #444c5c;padding: 10px 25px;color: #fff;margin: 0px 15px;border: 0px;border-radius: 50px;text-transform: uppercase;}
.change-plan{text-align:center}

/*--------------------*/




.home-readers { width:100%; float:left;background-image:url(../img/bookselves.jpg);background-position: center bottom; background-repeat:no-repeat; background-size:cover;}
.home-readers-section {width:100%; float:left;background-color: rgba(17,181,130,0.7);padding:95px 0;}
.home-readers ul { list-style:none; padding:0; margin:0; text-align:center;}
.home-readers ul li { list-style:none; padding:0; margin:0; width:24.5%; float:none;display: inline-block;}
.home-readers ul li h3 { color:#fff; font-size:46px; margin:0; font-weight:600; letter-spacing:2px;}
.home-readers ul li span { color:#fff; font-size:20px; margin:0;display: block;font-weight: 500;margin-top: 8px}

/*----------------------*/

.home-discover { width:100%; float:left; padding:85px 0 115px;  text-align:center;  overflow:hidden;}
.home-discover h1 {color: #232122;font-size:38px;font-weight:700;margin:0 0 50px;font-family: Roboto; text-align:left;}
.home-discover .margincenter {margin:0 2%;}
.home-discover-row { width:31.7%; float:none; display:inline-block; min-height:330px;box-shadow: 0px 8px 31px -5px #cecece; text-align:left;padding: 40px 40px;}
.home-discover-row-icon {width:100%; float:left;padding:0;}
.home-discover-row-title {width:100%; float:left;padding: 25px 0 0px;font-family: Roboto, serif; color:#000;font-size: 26px;font-weight: 300;min-height: none; line-height:33px; margin-bottom:20px;}
.home-discover-row-desc {width:100%; float:left;color: #232122;margin:0px 0 0px;font-size:15px; font-weight:300;}

/*---------------------*/

.home-benefits { width:100%; height:auto;float:left;background-image:url(../img/benefits-bg.jpg);background-size:cover;background-repeat:no-repeat;background-position: center; overflow:hidden}
.home-benefits-section {width:100%; float:left;padding:65px 0;}
.home-benefits-section h1 {color: #232122;font-size:37px;font-weight: 700;margin: 0 0 50px;font-family: Roboto, serif;padding-right: 45%;line-height: 50px;}

.home-benefits-row {width:100%; height:auto;float:left; position:relative;padding: 0 0 0 80px;}
.home-benefits-row:before {content: ''; background:#e44132; width:2px; height:280px; position:absolute; left:27px; top:5px;}
.home-benefits-row h3 {color: #232122;font-size:24px;font-weight:300;margin:0 0 13px;font-family: Roboto, serif;}
.home-benefits-row p {color: #232122;font-size:16px;font-weight:300;margin:0 0 0px;line-height: 23px;}

.home-benefits-col { width:44%; float:none; margin-bottom:50px; position:relative;}

.home-benefits .mental:before {content: ''; background-image:url(../img/mentalicon.jpg);background-size: contain; width:50px; height:53px; position:absolute; left:-77px; top:0; background-repeat:no-repeat;}

.home-benefits .stress:before {content: ''; background-image:url(../img/stressicon.jpg);background-size: contain; width:50px; height:53px; position:absolute; left:-77px; top:0; background-repeat:no-repeat;}

.home-benefits .expansion:before {content: ''; background-image:url(../img/expansionicon.jpg);background-size: contain; width:50px; height:53px; position:absolute; left:-77px; top:0; background-repeat:no-repeat;}

.home-benefits a.seemore { color:#e44034; text-transform:uppercase; font-size:14px; text-decoration: underline;font-weight: 600;letter-spacing: 1px;}

/*--------------------*/


.home-testimonial { width:100%; height:auto;float:left;background-image:url(../img/sliderbg.jpg);background-repeat:repeat-x; background-position:bottom; padding:75px 0 150px; text-align:center;}
.home-testimonial .testimonialslider{width:90%; margin:0 auto; text-align: center;}
.home-testimonial .testimonialslider .item{font-style: italic;font-size: 22px;font-weight: 100;margin-bottom: 10px;font-family: Roboto, serif; line-height: 35px; position: relative; padding:85px 100px 0;}
.home-testimonial .testimonialslider .item h5{ color:#2c2c2b; font-style: normal;margin-top: 40px;font-weight:300;}
.home-testimonial .testimonialslider .item:before{ content:''; background:url(../img/quote-left.png) no-repeat center; position:absolute; width:100%; height:58px; left:0; top:0px;}

/*-------------------*/

.home-subcribe { width:100%; height:auto;float:left; background:#ebe8e3; padding:50px 0 35px;}
.home-subcribe-left {width:50%; height:auto;float:left;padding-right: 105px;}
.home-subcribe-left h1 {color: #11b683;font-size: 33px;font-weight: 800;margin: 0 0 15px;font-family: Roboto, serif;padding-right:0%;line-height:27px;}
.home-subcribe-left p {color: #000;font-size: 15px;font-weight:400;margin: 0 0 0px;line-height: 23px;}

.home-subcribe-right {width:50%; height:auto;float:left;}
.home-subcribe-right-input {width:100%; height:auto;float:left;}
.home-subcribe-right-input input {width: 400px;height: 60px;float: left;border: none;background: #fff;padding: 10px 20px;border-radius: 13px 0 0 13px;}
.home-subcribe-right-input button {width: 175px;height: 60px;float: left;border: none;background: #11b683;font-family: Roboto, serif;color: #fff;font-size: 22px;font-weight: 300;border-radius: 0 13px 13px 0px;}


/*----------------------*/

.footersection { width:100%; height:auto;float:left; background:#444c5c; padding:65px 0 0px;}
.footer-top { width:100%; height:auto;float:left; border-bottom: solid 1px #3a4252;padding-bottom: 45px;}
.footer-top .footer-toplogo {width:auto; height:auto;float:left; margin-top:28px;}
.footer-top .footer-toppara {width:72%; height:auto;float:right;}
.footer-top .footer-toppara p {color: #fff;font-size: 15px;font-weight:300;margin: 0 0 0px;line-height: 29px;}
.footer-top .footer-toppara p a { color:#11b683; text-decoration:underline;}

.footer-bottom {width:100%; height:auto;float:left; border-top: solid 2px #505868;padding-top:0px;}
.footer-minhight { min-height:340px;}
.footernav-one { width:50%; float:left; border-right: solid 1px #3a4252; padding-bottom:0px;padding-top: 55px;}
.footernav-one h1 {color: #fff;font-size:23px;font-weight: 800;margin: 0 0 18px;font-family: Roboto, serif;padding-right:0%;line-height:27px;}
.footernav-one ul { list-style:none; padding:0; margin:0}
.footernav-one ul li { line-height:normal; padding:0; margin:0; float:left; width:33.333%;}
.footernav-one ul li a {color: #fff;font-size: 14px;font-weight:300;margin: 0 0 15px;line-height: normal; text-decoration:none; display:block;}
.footer-bottom a:hover{font-weight:400}
.footernav-two { width:20%; float:left; border-left: solid 2px #505868; border-right: solid 1px #3a4252;padding: 55px 50px 0;}
.footernav-two h1 {color: #fff;font-size:23px;font-weight: 800;margin: 0 0 18px;font-family: Roboto, serif;padding-right:0%;line-height:27px;}
.footernav-two ul { list-style:none; padding:0 0px; margin:0}
.footernav-two ul li { line-height:normal; padding:0; margin:0; float:left; width:100%;}
.footernav-two ul li a {color: #fff;font-size: 16px;font-weight:300;margin: 0 0 25px;line-height: normal; text-decoration:none; display:block;}


.loggedin .footernav-two, .loggedin .footernav-copy{width:50%; float:left}
.loggedin .footernav-two{border-left:0px;}
.loggedin .footernav-two ul li a{width: 50%;float: left;}
.loggedin .footer-minhight {min-height: auto;  padding-bottom: 50px !important;}



.footernav-copy { width:30%; float:left; border-left: solid 2px #505868; padding: 55px 20px 0px; text-align:center;}
.footernav-copy h1 {color: #fff;font-size:23px;font-weight: 800;margin: 0 0 18px;font-family: Roboto, serif;padding-right:0%;line-height:27px;}
.footernav-copy h2 {color: #fff;font-size: 15px;font-weight:400;margin: 0 0 0px;line-height: 29px;}
.footernav-copy p {color: #fff;font-size:15px;font-weight:400;margin: 0 0 0px;line-height: 29px;}
.footernav-copy p a{color:#fff}
.footernav-copy ul { list-style:none; padding:0; margin:30px 0 40px;}
.footernav-copy ul li { line-height:normal; padding:0; margin:0 5px; float:none; display:inline-block;}
.footernav-copy ul li a {display:block;}
.footernav-copy span {color: #ddd;font-size: 12px;font-weight:300;margin: 0 0 0px;line-height: normal;letter-spacing: 0.2px;}


.pricing-form{background:#fff; color:#545454; max-width:700px; margin:0 auto; padding:0px 0px; text-align:center}

.pricing-form h5{    color: #e44132 !important; letter-spacing:2px; margin-bottom: 0px;margin-top: 25px; }
.price{font-size:85px; letter-spacing:-2px; line-height:90px;  font-family:Roboto; position:relative; font-weight:bold;  margin: 0 auto; margin-top:5px;}

.price sup{font-size: 49px;top: 27px;position: absolute;line-height: 12px; margin-left: -35px; font-weight:400}
.price span{display:inline; font-size:20px; line-height:20px; letter-spacing:normal; font-family:Roboto}
.price u{font-size:15px; text-decoration:none; letter-spacing:normal; line-height:17px; vertical-align:top; padding-top:30px; margin-bottom:50px; display:block; color:#545454; font-family:Roboto}

.pricing-form .form-group{text-align:left; padding:0px 2%; margin-bottom:20px;}
.pricing-form .half{width:50%; float:left; text-align:left; padding:0px 2%}
.pricing-form .form-group label{margin-bottom:3px; font-weight:700; text-transform:uppercase; color:#333}
.pricing-form .form-group input.form-control{background:none; border:1px solid #ced4da; height:38px; color:#495057!important; border-radius:0px!Important; height: calc(2em + 1rem + 2px);
padding: 0.375rem 0.75rem; border-radius: 0.25rem;}
.pricing-form .form-group a{color:#fff; text-decoration:underline}
.pricing-form .form-group.conditionbox{padding-left: 6%;position: relative;clear: both;}
.pricing-form .form-group.conditionbox input{position: absolute; left: 2%; top: 5px;}
.pricing-form .form-group .button{background: #e44132;color: #fff;border-radius: 500px;border: 0px;padding: 13px 76px;text-align: center;
margin: 0 auto;float: none;display: block;font-family: Roboto;font-weight: 700;text-transform: uppercase;font-size: 19px;
letter-spacing: .5px;}

.pricsing-form ::placeholder {color: #fff; opacity: 0.5; /* Firefox */}
.pricsing-form :-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #fff;}
.pricsing-form ::-ms-input-placeholder { /* Microsoft Edge */ color: #fff;}

.headerbuy{padding:10px 30px; width:100%; font-size:17px; color:#666; font-family:'Roboto', sans-serif; letter-spacing: 0.2px !important;}
.headerbuy u{font-style:normal; text-decoration:none}
.headerbuy img{height:25px; margin-right:10px;  margin-top:-3px}
.headerbuy span{float:right; color:#999; font-size:12px; line-height: 27px;}

.buylayout{box-shadow:none!important; padding:0px!important; border-bottom:1px solid #e4e4e4 !important}


.buymembershipsection h1{font-family:'Roboto', sans-serif; font-size: 36px;font-weight: 500;margin-bottom: 45px; padding:0px; line-height:1.1}
.buymembershipsection{padding-top:5%; padding-bottom:60px; font-family:'Roboto', sans-serif; }
.buymembershipsection label{font-weight:400; font-family:'Roboto', sans-serif; line-height:1.43 }
.buymembershipsection .checkbox label{font-weight:400; color:#484848; font-size:13px; font-family:'Roboto', sans-serif;}
.buymembershipsection .checkbox label a{color:#484848; text-decoration:none}
.buymembershipsection .btn-primary{background: #5eb42a;border: 0 none;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset;
color: rgb(255, 255, 255);cursor: pointer;display: inline-block;font-size: 19px;font-weight: 700;overflow: hidden;padding: 0;
    padding-top: 0px;    padding-bottom: 0px;position: relative;padding-top: 15px;padding-bottom: 15px;text-transform: none;
-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;width: 100%;margin-top: 10px;}
.buymembershipsection input[type="checkbox"] + label::before {top:4px!important}
.buymembershipsection p{font-weight:400; letter-spacing: 0.2px !important;}
.checkbox{margin-top:10px;}
.buymembershipsection h6{margin-bottom:10px; font-size: 12px;line-height: 16px;font-weight: 400;}
.buymembershipsection h2{line-height:1.1; margin-bottom:10px;}
.buymembershipsection .visible-xs{display:none}
.centreclass{width:95%; margin:0 auto; margin-top:50px;}




.example-desc {
margin:3px 0;
padding:5px;
}

#carousel {
width:100%; overflow:hidden;
height:300px;
position:relative;
}
#carousel img {
visibility:hidden; /* hide images until carousel can handle them */
cursor:pointer; box-shadow: 0px 0px 6px -1px #3c3c3c;/* otherwise it's not as obvious items can be clicked */
}

.split-left {
width:450px;
float:left;
}
.split-right {
width:400px;
float:left;
margin-left:10px;
}
#callback-output {
height:250px;
overflow:scroll;
}
textarea#newoptions {
width:430px;
}

.home-discover-mobiimage { display:none;}


/*--------------*/

.home-discover .home-discover-row{position: relative;overflow:hidden;}
/*.home-discover .home-discover-row span {position: absolute;display: block;width: 0; height: 0;border-radius: 50%;background-color: #e57525;transition: width 0.4s ease-in-out, height 0.4s ease-in-out;-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1;}*/
.home-discover .home-discover-row:hover {color: #ffffff;}
.home-discover .home-discover-row:hover span {width: 225%;height: 562.5px;}
.home-discover .home-discover-row:active {background-color: #e57625;}

/*-----------*/


/*-------------*/
nav.navbar {border-bottom: 1px solid #f2efef; box-shadow: 0 5px 10px rgba(36,50,56,.10);}
.category-list {width:20%; float:left; list-style:none;   height: auto; padding: 0px 56px 56px 0px; box-sizing: border-box;}
.category-list a{ text-decoration: none; }
.category-list img{ max-width: 100%;}
.category-list .category-img{border: 0px solid #e8e8e8;padding: 2px; margin-bottom: 8px;}
.category-list .title{font-size: 15px;color: #000514;font-weight: 400;overflow: hidden;line-height: 1.3125em;max-height: 2.625em;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 5px;
text-align: left;text-transform: none;padding: 0px 5px;} 
.rating{text-align:center}
.category-list p{font-size: 14px; color: #57617a; margin-bottom: 0px;line-height: 20px;}
.category-list p span{ display: none;}
.category ul{padding: 0px;margin-left:-10px; margin-right:-10px; }
.page-heading{background: url(../img/pdfcover.jpg) no-repeat;background-size: cover;padding: 50px;margin-bottom: 30px;}
.page-heading h2{margin: 0;color: #fff;}

.category-sidebar{width: 21%;float: left;overflow-y: auto;background: rgba(145,66,255,1);background: -moz-linear-gradient(top, rgba(145,66,255,1) 0%, rgba(191,108,255,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,66,255,1)), color-stop(100%, rgba(191,108,255,1)));background: -webkit-linear-gradient(top, rgba(145,66,255,1) 0%, rgba(191,108,255,1) 100%);background: -o-linear-gradient(top, rgba(145,66,255,1) 0%, rgba(191,108,255,1) 100%);background: -ms-linear-gradient(top, rgba(145,66,255,1) 0%, rgba(191,108,255,1) 100%);background: linear-gradient(to bottom, rgba(145,66,255,1) 0%, rgba(191,108,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9142ff', endColorstr='#bf6cff', GradientType=0 ); margin-right:0%;padding: 15px!important;border-radius: 5px;}
.category-sidebar ul{ padding-left:0px; margin:0;}
.category-sidebar ul li{ list-style: none;border-bottom: solid 1px #b765ff;}
.category-sidebar ul li a{padding:10px 10px; color: #fff;display: block;text-decoration: none; font-size:16px; font-weight:600;transition: .15s ease;}
.category-sidebar ul li a span {    margin: 0 10px 0 0; width: 16px; display: inline-block;font-size: 17px;}
.category-sidebar ul li.active a {background: #a45cfd;}

.category-sidebar ul li:hover a { padding-left:15px;transition: .15s ease;background: #a45cfd;} 
.category-sidebar ul li.active:hover a{}
p.total-result{color: #cec8c8; font-size: 25px;}

.rating_star.icon-ic_star_small_fill.light_lit{position: relative}
.rating_star.icon-ic_star_small_fill.light_lit:after {position:absolute; width:15px; height:15px; background: #000; content: '';}

/*----------*/

.reset_pass{background: #fafcff;padding:20px 10px;text-align: center;font-size: 16px;color: #0146b3;font-family: 'Roboto', sans-serif;font-style: normal;margin-top: 40px;font-weight: 600; text-align: center;}
/*.btn-links {text-decoration: none; font-size: 16px; color:#0146b3; font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 600; padding-left: 0;}*/
.welcome-text{font-size: 44px;color: #080808;font-weight: 600;text-align: center;margin: 0px;margin-top: 0px;margin-bottom: 0px;margin-top: 100px;margin-bottom: 40px;}
ul.navbar-nav li.highlight a:hover, ul.navbar-nav li.highlight a:focus, ul.navbar-nav li.highlight a:visited{ color: #fff !important; }
nav.navbar {padding:15px 0px; background:#fff;}
ul.navbar-nav li a{color: #000; font-size: 16px; font-weight:400; text-decoration:none; padding:0px 15px;}
ul.navbar-nav li a.bold {font-weight:400;}

ul.navbar-nav li a.highlight, ul.navbar-nav li.highlight a {background:#12b683; color:#fff!important; font-family:'Roboto', sans-serif; border-radius:30px; padding:9.5px 23px; margin-left:10px; margin-top:-12px;line-height: 22px;font-weight: 700;
font-size: 17px;}

ul.navbar-nav li.language {margin-top: 6px !important;}
ul.navbar-nav li.login, ul.navbar-nav li.logout {margin: 0 !important;} 
ul.navbar-nav li.login{margin-left:15px!important;}
ul.navbar-nav li.login a {background: #12b683;color: #fff;padding: 10px 30px;border-radius: 30px 0 0px 30px;font-weight: 700;font-size: 17px;position: relative;overflow: hidden;}
ul.navbar-nav li.logout a {background: #e44132;color: #fff;padding: 10px 20px;border-radius: 0px 30px 30px 0px;font-weight: 700;font-size: 17px;position: relative;overflow: hidden;}
ul.navbar-nav li.login a:hover, ul.navbar-nav li.logout a:hover { color:#fff;}

ul.navbar-nav li.dropdown{padding: 0px;}
ul.navbar-nav li.dropdown .dropdown-menu a{padding: 10px 20px;}
ul.navbar-nav li.nav-item{ line-height: 20px; margin-top:10px;}
.logo {width:155px;float: left; text-align: center; }
.card .card-header{font-size: 22px;line-height: 29px;font-weight: 700;}
.arrow-icon{ position: relative; }

.card-header h3{ font-weight: 600; font-size: 35px; text-transform: uppercase; font-family: Roboto, serif;}
h2 { font-weight: 700; font-size: 44px; margin: 0px; margin-bottom: 0px; margin-bottom: 35px;}
p{font-size: 17px; line-height: 33px; color:#000;}
.language .dropdown-menu.show{ display: flex; }
.language{ margin-top: -5px; }
/*---------checkbox------------*/
.loginform input[type="checkbox"], .home-form-group input[type="checkbox"] { display: none; }
#terms,#remember {display: none; }
input[type="checkbox"] + label {display: block;position: relative; padding-left: 25px; margin-bottom: 20px; font-family:'Roboto', sans-serif; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size: 17px; line-height: 20px; font-weight: 100;}
input[type="checkbox"] + label:last-child { margin-bottom: 0; }
input[type="checkbox"] + label:before {content: ''; display: block; width: 17px; height: 17px; border: 1px solid #6cc0e5; position: absolute; left: 0; top: 0; opacity: .6; -webkit-transition: all .12s, border-color .08s; transition: all .12s, border-color .08s;}
input[type="checkbox"]:checked + label:before {width: 10px; top: -5px; left: 5px; border-radius: 0; opacity: 1; border-top-color: transparent; border-left-color: transparent; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
/*---------checkbox------------*/

/*---------Footer------------*/
footer ul{padding: 0px; margin:0;}
.footer-logo{margin-bottom:30px; display:inline-block;}
footer ul li{ list-style: none; float: left;  margin: 0 15px;}
footer ul li a{ color: #666666; font-size: 16px; }
footer ul li:last-child{ margin-right: 0px; }
footer ul li:first-child{ margin-left: 0px; }
.footer-left{float: left;}
.footer-right{ float: right; }
footer .container{border-top: 1px solid #ebebeb; padding: 35px 0;}
footer .footer-right li img{ opacity: 0.9;}
footer .footer-right li img:hover{ opacity: 0.5;}
/*---------Footer------------*/


/* START 18/3/2020*/
.inner-container{max-width:1200px; width:95%; margin:0 auto; padding:50px 0px}
.breadcrumbs{width:100%; font-family:'Roboto', sans-serif; font-weight:500; margin-bottom:50px; }
.breadcrumbs a, .breadcrumbs u{text-transform:uppercase; font-size:14px; letter-spacing:0.5px; color: #000000; padding: 4px 7px;}
.breadcrumbs a:hover, .breadcrumbs u{background:#12b683; color:#fff; text-decoration:none; padding: 4px 7px;}
.breadcrumbs u{margin-left:7px;}
.breadcrumbs span{margin:0px 12px;}

.category-sidebar h2{color: #232122;font-size: 26px;font-weight: 700;margin: 0;font-family: Roboto; letter-spacing:1px; text-transform:uppercase; margin-bottom: 20px;}
.innerright-side h1 span{font-family: 'Roboto', sans-serif;color: #000;font-weight: 400;font-size: 15px;letter-spacing: 0.5px;}
.innerright-side, .category-sidebar{border-top:0px solid #eeeced; padding-top:25px;}

.loginform{box-shadow:none; max-width:470px; margin:0 auto; font-size:14px; text-transform:uppercase;  font-family:'Roboto', sans-serif; font-weight:700;}
.loginform .col-form-label{width: 100%;max-width: 100%;flex: auto;text-transform: uppercase;font-size: 14px;font-weight: 700;color: #545454; padding:0px; margin-bottom:3px;}
.nopadding{padding:0px;}
.loginform .btn-primary {text-transform:uppercase; margin-bottom:15px;}
.loginform input[type="checkbox"] + label{font-weight:700; font-size:14px; color:#545454}
.loginform .btn-primary:hover{color:#fff}
.loginform a{text-align: right;font-size: 14px;padding: 0px;color: #e44132;font-weight: 700;font-size: 14px;}
.text-right{text-align:right}
.login-signup-title h3{text-align:center; font-size:50px; font-weight:700; margin:0px; color:#666}
.login-signup-title h3 a{color: #333;opacity: .55;}
.login-signup-title h3 a.active{color: #333;opacity:1;}
.login-signup-title h3 a:hover{text-decoration:none; opacity:1;}
.form-control input:focus{border:0px;}
.brief-text{margin-top:-7px;}
.brief-text p{font-size: 15px;line-height: 25px;color: #000;font-weight: 300;}

.book-detail-left{width:35%; float:left; text-align:center}
.book-detail-left img{max-width:80%}
.book-detail-left a{text-transform: none;margin: 15px 0px;background: #fff;width: 63%;height: 50px;border-radius: 50px;text-align: center;
display: inline-block;font-size: 16px;color: #e44132;font-weight: 500;text-decoration: none;line-height: 50px;border: 1px solid #e44132; max-width:300px;}
.book-detail-right{width:65%; float:right; font-size: 16px;font-weight: 300;line-height: 27px;}
.book-detail-right .rating {text-align: left; font-size: 13px; margin-top: 6px; display:inline-block; font-family:'Roboto', sans-serif; margin-right:20px;}
.book-detail-right .rating img{vertical-align:middle}
.book-detail-right .bookpages{display:inline-block; font-size:12px; font-family:'Roboto', sans-serif}
.innerright-side .category-list {width:25%; font-size: 15px;color: #000514;font-weight: 400;overflow: hidden; text-align:left; padding: 0 10px 20px;}
.innerright-side .category-list .category-img {height: 250px;}
.innerright-side .category-list .category-img img{max-height: 95%;}
.innerright-side .category-list .category-box{border-bottom: 1px solid #ccd1d8;padding: 5px; background:#fff}


#desktop_cat_div{display:block}
#mobile_cat_div{display:none}

/* END 18/3/2020*/




.containerjoin{max-width:1000px; margin:0 auto}
.containerjoin .title{font-family: Roboto; font-size:30px; text-align:center; margin-bottom:20px;}
.containerjoin .sub-title{text-align:center; max-width:700px; margin:0 auto; font-size:17px; font-family:Roboto; font-weight: 300;line-height: 25px;
}
.btnjoin{height: 49px;margin: 0 auto;display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;
width: 220px;background-color: #12b683;color: #ffffff!important; text-decoration:none!important; font: 400 14px/14px Roboto,sans-serif;letter-spacing: 0.77px;text-transform: uppercase;
text-decoration: none; margin-top:15px; margin-bottom:5px;}
.sub-title span{font-size:14px; font-weight:400}
.sub-title span a{color:#e44132}

.clear{clear:both}
.benefits-box img{margin-bottom:10px;}
.benefits-box{width:33%; padding:10px 2%; text-align:center; display:inline-block;  box-sizing: border-box; font-family:Roboto; font-size:13px; line-height:18px; vertical-align:top; margin-bottom:50px;}
.benefits-box label{font-weight:700; font-size:17px; color:#000; display:block; font-family:Merriweather; margin-bottom:10px; line-height:25px;  }
.membership-feature{text-align:center; padding-top:70px;}
.join-now-area{padding: 40px 60px; background-color: #eeeeee; font-size:13px; font-family:Roboto; line-height:22px;text-align:center}
.join-now-area a{color:#000; text-decoration:underline}
.join-now-area .title span{font-size:12px; font-family:Roboto; display:block; letter-spacing:1px; text-transform:uppercase; margin-bottom:30px;}
.join-now-area .title { font-family:Merriweather; font-weight:400}
.pricemonth{text-align:center; font-size:17px; font-weight:600; margin-bottom:30px; color:#e44132}



/*Benifits page*/
.benifits-section{clear:both}
.benifits-section h1{font-size: 28px;font-weight: 300;text-align: center;line-height: 40px;margin: 20px auto;clear: both;}
.benifits-section h1 strong{font-weight:700}
.benifits-brief{font-size:15px; line-height:20px;max-width: 750px;margin: 20px auto;text-align: center;}

.benifits-half{width:50%; float:left; padding:25px; padding-bottom:0px; font-size: 16px; font-weight: 300;line-height: 30px;}
.benifits-gap{height:50px;}
.padding0{padding:0px;}
.benifits-half h3{font-size:22px; font-weight:600; color:#000;line-height: 32px;margin-bottom: 10px;}




.acordian-section { width:100%; float:left;margin: 0px 0 40px;}

.acordian-main { width:100%; float:left;}
.acordian-main-heading {width:100%; float:left; text-align:center;}
.acordian-main-heading h1 {margin: 0;padding:0px 0 55px;color: #000;font-weight:400;font-size: 37px;}

.acordian-main-data {width:100%; float:left;}
.accordion { width:100%; float:left; max-width:100%;} 
.accordion ul { margin:0;}
.accordion .list-group-item{text-transform: capitalize;padding:13px 15px;border: solid 1px #cacaca !important;border-radius: 6px !important;margin: 0 0 15px;background: none;}
.accordion li[aria-expanded="true"] { background:#fff; border:none !important;box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.09);}

.accordion .list-group-item h3 { color:#000; margin:0; font-size:16px; font-weight:400; cursor:pointer;}
.accordion .list-group-item .innercontent { width:100%; float:left;}
.accordion .list-group-item .innercontent p {font-family: 'Lato', sans-serif; color:#000; font-size:13px;line-height: 26px; padding-top:20px;}

.accordion li:after { content: ""; /* fa-chevron-down */background:url(../img/oponarrow.png) left top no-repeat; width:13px; height:7px;position: absolute;right: 15px;top: 19px;background-size: 10px;}
.accordion li[aria-expanded="true"]:after { content: ""; /* fa-chevron-up */background:url(../img/closearrow.png) left top no-repeat; width:13px; height:7px; background-size: 10px;}



[data-aos^="fade"][data-aos^="fade"] {opacity: 1!important;}
.halfdiv-section {width: 100%;}
.subscription-box .form{width:100%!important;}
[data-aos^="fade"][data-aos^="fade"] {opacity: 1!important;}
.halfdiv-section {width: 50%;}
.subscription-box h1{font-size:31px; margin-bottom:16px; font-weight:400; padding-bottom:10px;}
.subscription-box h5{margin-bottom:15px;}
.subscription-box .form{width:100%!important;}
.membership-contact.subscription-box{width:100%;}


.moneyback {    position: relative;    overflow: hidden;    background: #fff;    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);    border-radius: 4px;    display: -webkit-box;    display: -ms-flexbox;    display: -webkit-flex;    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;    margin: 20px 0 0;    padding: 16px;    border-radius: 4px;    background: #fff;    color: #000; max-width:100%; margin:0 auto; margin-top:32px;}

.moneyback figure {    width: 120px;    min-width: 120px;    max-width: 120px;    margin-right: 20px;}
.moneyback p {    font-size: 12px; line-height:22px;}

.support-icons {    margin-top: 30px; max-width:100%; margin:0 auto; clear:both}
.support-icons .icon {    display: -webkit-box;    display: -ms-flexbox;    display: -webkit-flex;    display: flex;    -webkit-box-align: center;
    -ms-flex-align: center;    align-items: center;    margin:0px; width: 50%; float: left;margin-bottom: 20px; }
.support-icons figure {    position: relative;    width: 40px;    height: 40px;    margin-right: 10px;}
svg {fill: #12b683!important;}
figure {    margin: 0; display:block}
.support-icons p{font-size: 14px;font-weight: 400; line-height:22px;}
.support-icons p span {    font-weight: bold;}

.pricelist{margin:0px auto; text-align:center}
.pricelist .title, .pricing-form h1, h1.maintitle{ color:#12b683; font-size:37px;  font-weight:700; margin-bottom:50px; text-align:center; border:0px;}
.pricelist .title span{ display: block;text-transform: none;font-weight: 400;color: #000;font-size: 17px;max-width: 540px;margin: 0 auto;
margin-top: 5px;line-height: 24px;}
.pricingoption {text-align: center;   padding: 20px;    border: 0;    border-radius: 15px; width: 33%;display: inline-block;margin: 0px 20px; vertical-align:top}
.pricingoption h4{font-size: 12px;letter-spacing: 2px;margin-bottom: 0px;font-weight: 500;}
.pricingoption small {letter-spacing: 2px;}
.text-muted { color: #e44132 !important; margin-bottom:30px; display:block}
.pricingoption .card-title { font-size: 65px; font-family: "Product Sans", Helvetica, Arial, serif;    font-weight: 700;margin: 0px 0 10px;}
.pricingoption ul {line-height: 2.5;margin: 0 0 20px;padding-left: 0;list-style: none;}
.pricingoption .plan-muted {    text-decoration: line-through;    opacity: 0.5;}
.pricingoption a.btn{border-radius: 50px;padding: 15px 30px;border: 1px solid #12b683;text-transform:uppercase;font-weight: 500;color: #12b683; font-size:15px; display:inline-block; margin-top:15px;}
.pricingoption a.btn:hover{background:#12b683; color:#fff}

.category { margin-left: 0px; display: block;float: right;width: 74%; padding:0!important;}
.category h1 {font-weight:600;font-size: 35px !important; margin-bottom:0px;font-family: Lato!important; display:inline-block; border:none;}
.category h2 {font-weight:600;font-size: 30px !important;margin-bottom:15px;font-family: Lato!important;display:inline-block;}
.category p { font-size:16px; line-height:28px;}

.dashborad-about {width: 100%;float: left; background: #fff;padding:20px;box-shadow: 0px 0px 11px -5px #cecece; border-radius:3px; margin-bottom:20px;}
.dashborad-about p { color:#5b5d63; line-height:23px;}
.dashborad-about p.date {font-weight: 600;color:#1a31f1; margin:0;}


.dashboard-section2 { width:100%; float:left; text-align:center; margin:0px 0 20px;background: #fff;padding: 20px 12px 6px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px;}
.dashboard-section2-row {width: 32%;float: none;text-align: center;margin: 0px 3px 8px;display: inline-block;padding:0px;}
.dashboard-section2 .green { background:#28a745;}
.dashboard-section2 .blue { background:#17a2b8;}
.dashboard-section2 .purple { background:#886ce6;} 
.dashboard-section2 .orange { background:#fc9617;}


.dashboard-section2 .info-box-icon {margin: 0;float: left;width: 90px; border-radius:0;}
.dashboard-section2 .info-box-icon::after { display:none;}
.dashboard-section2 .info-box-icon i{ font-size:45px; padding-top:12px;}
.dashboard-section2 a.text-success, .dashboard-section2 a.text-info, .dashboard-section2 a.text-fancy {color: #fff !important;}
.dashboard-section2 a.text-success:hover, .dashboard-section2 a.text-info:hover, .dashboard-section2 a.text-fancy:hover { color:#fff!important; text-decoration:underline!important;}
.dashboard-section2 a.text-success:focus, .dashboard-section2 a.text-info:focus, .dashboard-section2 a.text-fancy:focus{ color:#fff!important;}
.dashboard-section2 .info-box-content { width:65%; float:right; text-align:center;margin: 12px 0 0;padding: 5px 10px;}
.dashboard-section2 .info-box-number { color:#fff!important;}

  
.dashboardpages { background:#f4f4f4;}
.dashbaordchart { width: 100%; float: left; background: #fff;padding: 10px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px; margin-bottom:20px;}
.dashboard-recenttable {width: 100%; float: left;background: #fff;margin-top:0px;padding: 20px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px; margin-bottom:20px; overflow:auto;}
.dashboardpages table th {background: #bb68ff;color: #fff;padding: 20px 12px;border: solid 1px #cd98f7; font-size:17px;}

td a.editicon {font-size: 0px;background: url(../img/editicon.png) no-repeat right center !important;text-indent: 0.01px;cursor: pointer;  display: inline-block;    width: 18px; margin: 0 3px 0; height: 30px;padding:0;background-size: 100% !important;border: none !important;border-radius: 0 !important; float:left;}

td a.cloneicon {font-size: 0px;background: url(../img/cloneicon.png) no-repeat right center !important;text-indent: 0.01px;cursor: pointer;  display: inline-block;    width: 18px; margin: 0 3px 0; height: 30px;padding:0;background-size: 100% !important;border: none !important;border-radius: 0 !important;float:left;}

td .deleteicon {font-size: 0px;background: url(../img/deleteicon.png) no-repeat right center !important;text-indent: 0.01px;cursor: pointer;  display: inline-block;    width: 16px; margin: 0 3px 0; height:25px;padding:0;background-size: 100% !important;border: none !important;border-radius: 0 !important;float:left;}

.page-title { width:100%; float:left;border-bottom: 1px solid #e1e1e1;margin-bottom: 15px;}
.page-title .purple-btn { float:right;}
.purple-btn {background: rgba(145,67,255,1);background: -moz-linear-gradient(left, rgba(145,67,255,1) 0%, rgba(191,107,255,1) 100%);background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145,67,255,1)), color-stop(100%, rgba(191,107,255,1)));background: -webkit-linear-gradient(left, rgba(145,67,255,1) 0%, rgba(191,107,255,1) 100%);background: -o-linear-gradient(left, rgba(145,67,255,1) 0%, rgba(191,107,255,1) 100%);background: -ms-linear-gradient(left, rgba(145,67,255,1) 0%, rgba(191,107,255,1) 100%);background: linear-gradient(to right, rgba(145,67,255,1) 0%, rgba(191,107,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9143ff', endColorstr='#bf6bff', GradientType=1 ); border:none; width:auto!important; height:auto!important;font-size: 17px;padding: 5px 15px;}
.purple-btn:hover { color:#fff;}


.dashboard-form {width: 100%; float: left;background: #fff;margin-top:0px;padding: 20px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:0px; margin-bottom:20px;}
.dashboard-form input, .dashboard-form select, .dashboard-form textarea {border: 3px solid #e0e0e0!important;padding: 0.375rem 0.75rem!important;border-radius:3px;}
.dashboard-form input[type="checkbox"] { float:left; margin:6px 10px 0 0}
.dashboard-form textarea { min-height:200px;}
 
.flashmessage { width:100%; float:left;}
.flashmessage alert{ width:100%; float:left;}


select option {font-family:Arial, Helvetica, sans-serif;}


.dashboardpages .pagination { width:100%; float:left;}
.dashboardpages .pagination ul.pagination { margin:0;}
.dashboardpages .pagination ul.pagination .page-item.active .page-link { color: #fff; background-color: #eda122;border-color: transparent;}

.dashboard-search { width:100%; float:left;}
.dashboard-search .formitem { width:33.333%; float:left; padding:0 8px}
.dashboard-search .submit-search {width: auto; float: left;margin: 24px 0 0;padding: 0 10px;}
.dashboard-search .submit-search a, .dashboard-search .submit-search input {border:none; width:auto!important; height:auto!important;font-size: 17px;padding: 12px 15px !important;background: #2bb218;line-height: normal !important;border: none !important;color: #fff !important;border-radius: 3px;}
.dashboard-search .submit-search a { background:#e53c15!important; margin:0 4px;}

a.mobilelinks { display:none; color:#fff; font-weight:600;}
a.mobilelinks span {  float:right;}
a.mobilelinks:hover { color:#fff;}


.dashboard-widget { width:100%; float:left; text-align:center; margin:0px 0 20px;background: #fff;padding: 20px 12px 6px;box-shadow: 0px 0px 11px -5px #cecece;border-radius:3px;}
.dashboard-widget-row {width: 32%;float: none;text-align: center;margin: 0px 3px 8px;display: inline-block;padding:0px;border-radius: 4px;}
.dashboard-widget-row .info-box-content { width:69%; float:right; text-align:left;margin:12px 0 0;padding: 5px 10px;}
.dashboard-widget-row a.text-success, .dashboard-widget-row a.text-info, .dashboard-widget-row a.text-fancy {color: #fff !important;}
.dashboard-widget-row a.text-success:hover, .dashboard-widget-row a.text-info:hover, .dashboard-widget-row a.text-fancy:hover { color:#fff!important; text-decoration:underline!important;}
.dashboard-widget-row a.text-success:focus, .dashboard-widget-row a.text-info:focus, .dashboard-widget-row a.text-fancy:focus{ color:#fff!important;}

.dashboard-widget-row .info-box-number { color:#fff!important;}
.dashboard-widget-row .info-box-icon {margin: 0;float: left;width:85px; border-radius:0;background: none;padding: 19px 0;}

.addaccount-btns, .div33, .div25{width:33.33%; padding:20px; color:#fff; box-sizing:border-box; float:left; font-weight: 700;font-size: 16px; border-right:1px solid #e1e1e1}
.div33{width:33.33%;} 
.div25{width:25%;}
.addaccount-btns:nth-child(3), .div25:nth-child(3){border-right:0px;}
.addaccount-btns .aa-text{min-height:120px;}
.addaccount-btns a.purple-btn{ margin-top:25px; background:#fff; color:#333; padding: 7px 30px; border:0px; font-weight:700}
.addaccount-btns a.purple-btn:hover{background:#333; color:#fff}
.dashboard-section2.padding0{padding:0px;}
.dashboard-section2.padding0 .addaccount-btns{background:#5632de}
.dashboard-section2.padding0 .addaccount-btns:nth-child(2){background:#ea125a}
.dashboard-section2.padding0 .addaccount-btns:nth-child(3){background:#0b9ded}
.dashboard-section2.padding0 .addaccount-btns:nth-child(4){background:#d100fe}


.dashboard-widget-row:nth-child(3) { background:#fb4545;}
.dashboard-widget-row:nth-child(4) { background:#e3ba17;}
.dashboard-widget-row:nth-child(5) { background:#a4d930;}
.dashboard-widget-row:nth-child(6) { background:#0bb7bf;}
.dashboard-widget-row:nth-child(7) { background:#a791d7;}
.dashboard-widget-row:nth-child(8) { background:#d04ea3;}
.dashboard-widget-row:nth-child(9) { background:#41438e;}
.dashboard-widget-row:nth-child(10) { background:#ea216c;}
.dashboard-widget-row:nth-child(11) { background:#4ea675;}
.dashboard-widget-row:nth-child(12) { background:#fb4545;}
.dashboard-widget-row:nth-child(13) { background:#e3ba17;}
.dashboard-widget-row:nth-child(14) { background:#a4d930;}
.dashboard-widget-row:nth-child(15) { background:#0bb7bf;}
.dashboard-widget-row:nth-child(16) { background:#a791d7;}
.dashboard-widget-row:nth-child(17) { background:#d04ea3;}
.dashboard-widget-row:nth-child(18) { background:#41438e;}
.dashboard-widget-row:nth-child(19) { background:#ea216c;}
.dashboard-widget-row:nth-child(20) { background:#4ea675;}

