@media screen and (max-width:1200px) {
.body-container {width: 1024px;}

/*-----*/
.home-subcribe-right-input input {width: 65%;}
.footernav-two {padding: 55px 40px 0;}


}



@media screen and (max-width:1024px) {
.pricing-options-horizontal {width: 75% !important;}
.pricing-options-horizontal .pricetablecontent {margin: 20px 7.2px !important;}
.login-container {width: 640px; margin: 0 auto; max-width: 100%;}
.body-container { width: 90%;}
.container-header {width: 100%;padding: 0 20px;}
.home-banner { padding: 130px 0;}
.home-banner h1 { color: #fff; font-size: 57px;}
.homelogin-left {width: 78.3%; float: left;}
.homelogin-left .home-form-group {width: 44%; float: left; margin: 0 29px 0 0;}
.home-collection-text h2 {font-size: 32px;padding: 0 60px;}
.home-readers ul li h3 { font-size:35px;}
.home-readers ul li span { font-size:16px;}
.home-discover h1 { font-size: 30px;}
.home-discover-row-title { font-size:23px;}
.home-benefits-section h1 { font-size:28px; line-height:40px;}
.home-testimonial .testimonialslider .item { font-size: 23px;padding: 105px 120px 0;}
.home-testimonial {padding: 95px 0 150px;}
.home-subcribe-left h1 { font-size: 28px;}
.home-subcribe-right-input input { width: 62%;}
.footernav-two {padding: 55px 30px 0;}
.home-benefits-row::before {content: '';height: 350px;}
 .navbar-light .navbar-toggler { float:right;}
 
.navbar-collapse {position: absolute;width: 100%;left: 0;top: 68px;background: #fff;z-index: 99;}
ul.navbar-nav li.nav-item { margin-top: 0px; padding: 10px 15px;border-bottom: solid 1px #f7f7f7;}
ul.navbar-nav li a {padding: 0px 0px;}
ul.navbar-nav li.login a {border-radius: 30px 30px;}
ul.navbar-nav li.logout a {border-radius: 30px 30px;}
ul.navbar-nav li.dropdown { margin:0 !important;}

ul.navbar-nav li a.highlight, ul.navbar-nav li.highlight a{margin-top:0px;}

.buymembershipsection{max-width:100%; }
.box{margin-left:25px!important;}
.box p {    font-size: 14px;    line-height: 18px;}
.box p.terms {    font-size: 10px!important;    line-height: 13px!important;}
.buymembershipsection .checkbox label{font-size: 11px;line-height: 14px;}
.buymembershipsection h2{font-size:22px;}
.buymembershipsection h6 { margin-bottom: 5px;    font-size: 11px;}
.home-banner{height:auto}
.benifits-half{width:100%; text-align:center}
.benifits-half img{margin: 20px 0px;} 
.halfdiv-section{width:100%; float:left; padding:0px 15px;}
.category-sidebar, .category, .book-detail-left, .book-detail-right{width:100%; margin-right:0px;}
.innerright-side .category-list .category-img, .category-text .title{text-align:center} 

.subscription-box{background:none; padding-right:0px; padding:0px;}
.subscription-box .form{width:100%!important}
.highlightbox-inner{margin-top:0px;}
.membership-contact.subscription-box{margin-top:50px;}
.book-detail-right{margin-top:50px;}


#mobile_cat_div{display:block; border: 0px;margin: 0px;padding: 0px; color:#000} 
#mobile_cat_div a::after{content:'+'; float: right; margin-right: 10px;}
#mobile_cat_div a{color:#000; display:block}

#desktop_cat_div{display:none}
.show_hide_cat_div{display:block; margin-top:20px;}
.benifits-section {    clear: both;    max-width: 95%;    margin: 0 auto;}

/*-----------------af---------------*/
.inner-container { padding:30px 0;}
a#show_nav { display:block; color:#fff;}
.category-sidebar { margin-bottom:25px;}
.category-sidebar ul { display:none;margin-top: 15px;}



}
 
@media all and (max-width: 1030px) and (min-width: 800px) {
.navbar-expand-md .navbar-collapse{max-width: 800px;float: right;border-bottom: 0px;}
.navbar-collapse {position: static!important;	}
ul.navbar-nav li.nav-item {    margin-top: 0px;    padding: 0px 10px;    border-bottom: solid 0px #f7f7f7;}
ul.navbar-nav li a {    padding: 0px 0px;    line-height: 37px;}
ul.navbar-nav li.login a, ul.navbar-nav li.logout a{line-height:16px;}
ul.navbar-nav li.dropdown .dropdown-menu a {    line-height: 15px;}
}


@media screen and (max-width:768px) {
	.support-icons {padding-left: 0;}
	.membership-contact.subscription-box .container{ width: 100%; }
	.loginform .form-group .form-control {background-color: #ffffffe6;}
	.login-sec .login-left {width: 100%;}
.pricing-options-horizontal {width: 100% !important;}
.home-banner h1 {font-size: 45px;}
.home-banner p {margin: 20px 0 40px; font-size: 17px;  line-height: 26px;}
.home-banner {padding: 90px 0;}
.home-collection-text {padding: 50px 0px 50px;}
.home-collection-slider a.collectionbut {margin: 55px 0 56px;}

.home-readers-section { padding:65px 0}
.home-discover {padding: 45px 0 45px;}
.home-discover h1 { margin:0 0 30px;}
.home-discover-row {width: 100%; min-height: auto; padding: 30px 30px;}
.home-discover-row-title {padding: 20px 0 20px;min-height: auto;}
.home-discover .margincenter { margin: 2% 0%;}
.home-benefits-section { padding: 35px 0;}
.home-benefits-col {width: 55%;}
.home-testimonial {padding: 45px 0 110px;}
.home-testimonial .testimonialslider .item { font-size: 21px;padding: 85px 0px 0;}
.home-subcribe-left {padding-right: 45px;}
.home-subcribe-right-input input { width:63%;}
.home-subcribe-right-input button {width: 125px; font-size:19px;}
.home-subcribe-left h1 {font-size: 25px; margin:0 0 8px}
.home-subcribe {padding: 30px 0 25px;}
.innerright-side .category-list {    width: 33.33%;}

ul.navbar-nav li.dropdown a#navbarDropdown { display:none;}
ul.navbar-nav li.dropdown .dropdown-menu { display:block !important; border:none; max-width:100%  }
ul.navbar-nav li.dropdown .dropdown-menu a { display:block; margin-top: 0px;padding: 10px 15px;border-bottom: solid 1px #f7f7f7;}
ul.navbar-nav li.dropdown {    margin: 0 !important;    padding: 0px;}
.dropdown-menu{padding:0px;}
.footersection {padding: 35px 0 0px;}
.footer-top {padding-bottom: 30px;}
.footer-top .footer-toppara { width: 62%;}
.footer-top .footer-toppara p { line-height:24px;}
.footernav-one { padding-top:15px;}
.footernav-one h1 { font-size: 20px;}
.footernav-one ul li a {font-size: 13px; margin: 0 0 10px;}

.footernav-two { padding: 15px 15px 0;}
.footernav-two h1 { font-size: 20px;}

.footernav-copy { padding: 15px 20px 0px;}
.footernav-copy h1 { font-size: 20px; margin: 0 0 10px;}
.footernav-copy ul { margin: 20px 0 20px;}
.footer-minhight { min-height: 260px;}

.hidden-sm {    display: none !important;}
 
 
.dashboard-section2-row {width: 100%;}
.dashboard-section2 .info-box-content { width: 220px; float: left;text-align: left;}




#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {display: block; }


/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr { position: absolute;top: -9999px;left: -9999px;}
#no-more-tables tr { border: 1px solid #ccc; }
#no-more-tables tr:last-child { border: 1px solid #ccc !important; }
#no-more-tables td { /* Behave  like a "row" */border: none;border-bottom: 1px solid #CCCCCC; position: relative;padding-left: 50%; white-space: normal;text-align:left;min-height: 50px;line-height: 22px; font-size:16px;word-break: break-all;}
#no-more-tables td:before {position: absolute;  top: 0px; left: 14px; width: 45%; padding-right: 10px;  white-space: normal; text-align: left; font-weight: bold; height: 100%; display: flex; flex-wrap: wrap; align-items: center; align-content: center;  height: 100%;word-break: normal;}
#no-more-tables td a { word-break:break-all;}
#no-more-tables td:before { content: attr(data-title); }

.dashboard-widget-row { width: 48%;	}
.dashboard-widget-row .info-box-content { width: 72%;}


 
}



@media screen and (max-width:767px) {
	
	.login-sec {padding: 58px 15px !important; margin-left: 15px !important; margin-right: 15px !important;}
	.loginform .form-group .form-control {border: 2px solid #bdbdbd;}
	.login-sec .login-left {background: #ffffffe0; padding: 10px;}
	.pricing-options-horizontal {width: 96% !important; margin: 0 !important;}
.inner-container {padding: 20px 0;}
.row{max-width:100%; width:100%; margin:0 auto}
body{overflow-x: hidden;max-width:100%; width:100%;}
.container { width:100%!important;max-width:100%!important;}
.login-container { width:90%; margin: 0 auto;max-width: 100%;}
.buymembershipsection .checkbox label{line-height:normal}

.logo {width: 135px;}
.logo img { width:100%;}

.home-banner { padding: 30px 0; height:auto}
.home-banner h1 { font-size: 26px;}
.home-banner p {margin: 5px 0 20px; font-size: 15px; line-height: 21px;}
.home-banner a { color: #fff; padding: 10px 23px; font-size: 20px;}
.home-banner span { font-size:14px;}
 .home-benefits-row::before{display:none}
.homelogin-left {width: 100%;    float: left;}
.home-login {padding: 20px 0px;}
.homelogin-left .home-form-group {width: 100%; float: left; margin: 0 0px 10px 0;}
.homelogin-button button {padding: 5px 20px; margin: 0 auto;width: 200px;border-radius: 0px;float: none;display: block;}
.homelogin-button{width:100%}
.home-collection-text { padding: 15px 0px 15px;}
.home-collection-text h2 { font-size: 24px; padding: 0 0px;}
.home-collection-text p { margin: 14px 0 0px; font-size: 14px;font-weight: 300;line-height: 25px;}
.home-collection-slider a.collectionbut { padding: 20px 20px;height: auto;font-size: 14px;margin: 25px 0 27px;}
.home-readers-section {padding: 25px 0 10px;}
.home-readers ul li {margin: 30px 0px;width: 50%; float:left}
.home-readers ul li h3 {font-size: 29px;}
.home-readers ul li span {font-size: 15px;margin-top: 0;}

.home-discover {padding: 20px 0 20px;}
.home-discover h1 { margin: 0 0 20px; font-size: 23px;}
.home-discover-row { padding: 18px;}
.home-discover-row-title {padding: 15px 0 15px;}

.home-benefits-section {padding: 15px 0 25px;}
.home-benefits-section h1 {font-size: 20px; line-height: 28px; padding-right: 2%;margin: 0 0 30px;}

.home-benefits-col {width: 100%; margin-bottom:20px;}
.home-benefits-row h3 { font-size: 21px;}
.home-benefits-row p {font-size: 14px;line-height: 19px;}

.home-testimonial { padding: 25px 0 20px;}
.home-testimonial .testimonialslider .item {font-size: 17px;padding: 75px 0px 0;line-height: 29px;}
.home-testimonial .testimonialslider .item h5 { margin-top:20px;}

.home-subcribe { padding: 20px 0 20px;}
.home-subcribe-left {padding-right: 0px; width:100%;margin-bottom: 15px;}
.home-subcribe-right { width: 100%;height: auto;float: left;}
.home-subcribe-right-input input { width: 100%; border-radius: 10px; margin-bottom: 15px; height:50px}
.home-subcribe-right-input button { font-size: 17px;float: right; border-radius: 10px; height: 50px;}
.subscription-box .finishbtn{ width:100%; max-width:300px; padding:0px; margin-right:0px; margin-bottom: 20px;}

.footer-top .footer-toplogo {width: 100%; height: auto; float: left; margin-top: 20px; text-align: center;margin-bottom: 20px;}
.footer-top .footer-toppara { width: 100%; text-align: center;}
.footer-top { padding-bottom: 20px;}
.footer-minhight { min-height: 0; width: 100%;border: none;}
.footernav-two {padding: 15px 0px 0;}
.footernav-one { padding-top: 15px; text-align: center;}
.footernav-two { padding: 15px 0px 0;text-align: center;}
.footernav-copy { padding: 15px 0px 20px;}

.centreclass img.mobileimg{display:inline-block}
.centreclass img.desktopimg{display:none} 

.home-benefits-row::before {}

.home-benefits { background-image: none; overflow: hidden; background-color: #ebe8e3; padding-top: 25px;}
.home-discover-mobiimage { display:block;}

/*subscribe-membership Start*/
.col-sm-7, .col-sm-5, .col-sm-6{width:100%!important; max-width:100%!important}
.buymembershipsection .box{margin-left:0px!important}
.loggedin .footernav-two, .loggedin .footernav-copy{width:100%}


.flowpaper_viewer_container{}

/*login Resigster Start*/
.login-signup-title h3{font-size:33px;}
.form-group .col-md-5.text-right{text-align:left!important; margin-top:10px;}
.pricing-form .half {    width: 100%;}
.pricing-form .form-group.conditionbox{padding-left: 10%;}
.benefits-box{width:100%; margin-bottom:7px;}
.benefits-box label{margin-bottom:3px;}
.membership-feature{padding-top:0px;}
.pricing-form .form-group input.form-control{height:40px;}
.pricing-form .form-group.conditionbox{font-size:12px;}
.pricing-form .form-group{margin-bottom: 10px;}
.pricing-form .form-group label{font-size:14px;}
.pricing-form{padding-top:0px;}
.price{font-size:63px; width: 265px; margin-top:0px;}
 .price u{padding-top: 10px;}

.highlightbox-inner{padding:0px; margin-top:0px}
.highlightbox-inner .smalltext{padding:0px 20px}
.subscription-box{padding:15px 0px; background:none}
.subscription-box .form{width:100%!important}
.navbar-nav{display:block}
ul.navbar-nav li.login, ul.navbar-nav li.logout {margin: 0 !important; width: 50%; float: left; box-sizing: border-box;    display: block;
    height: 61px;}
	
	
.homelogin-left .home-form-group + .home-form-group + .home-form-group{width:50%}
.homelogin-left .home-form-group + .home-form-group + .home-form-group + .home-form-group{width:50%; text-align:right}	
	
.category-list, .innerright-side .category-list {    width: 100%; }
.category-sidebar, .category, .book-detail-left, .book-detail-right{width:100%; margin-right:0px;}

.headerbuy u, .headerbuy span{display:block; float:left; width:100%}
.headerbuy {padding: 15px 45px; padding-bottom:4px;}
.buymembershipsection .hidden-xs{display:none}
.buymembershipsection .visible-xs{display:block}
.buymembershipsection{border: 1px solid #e4e4e4;margin: 5% auto; width:92%;padding-top: 5%;padding-left: 3%;padding-right: 3%;padding-bottom: 5%;}
.mainouter{padding-left:0px!important; padding-right:0px!important}
.buymembershipsection .col-xs-6{width:50%!important}
.buymembershipsection h2 {    font-size: 22px;}
.visible-xs .img-mobile {    max-width: 100%;    margin-top: 7%;    margin-bottom: calc(7% + 10px);    border: 1px solid #eee;}
.buymembershipsection .col-sm-7{padding-bottom:0px; margin-bottom:0px;}
.buymembershipsection .btn-primary{margin-bottom: 50px;}

.benifits-section h1{ font-size:22px; line-height:31px;}
.benifits-gap {    height: 25px;}
.benifits-half{padding:0px; font-size: 15px;font-weight: 300;line-height: 25px;}
.support-icons .icon{width:100%}
.pricingoption{width:95%; margin:0 auto; margin-bottom:50px; padding: 0px;}
 
 
.category h1 {font-size: 24px !important; padding: 7px 0;}
.category h2 {font-weight: 600;font-size: 22px !important;}
.category-sidebar { margin-bottom: 15px;}
.dashboard-section2 .info-box-content { width: 190px;}

#no-more-tables {height: 400px; overflow: auto;}
.dashboard-form {padding: 20px 0px;}
.dashboard-search .formitem { width: 100%;float: left; padding: 0 15px;}
.dashboard-widget-row {width: 100%;}
.dashboard-widget-row .info-box-content {width: 67%; }

	


}


@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px;
  }
  .accordion li::after{right: 5px;}

}
