@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{ box-sizing: border-box; margin: 0; padding: 0;}

body{margin:0px; padding:0px;font-family:'Lato', sans-serif!important;}
.clear{clear:both}
a, a:hover{text-decoration:none}
 img{max-width:100%}
.textleft{text-align:left}
.textcenter{text-align:center} 
.container{margin:0 auto; width:95%; max-width:1171px;}
.home-herosection{background:url(../images/bg-img.jpg) repeat-x; min-height:500px; text-align:center}
header{padding:19.5px 0px; border-bottom:1px solid #d9e4ed; background:#ebf5fe;}
.logo{width:20%; float:left; text-align:left; margin-top:5px;}
.logo a{display: inline-block;}
.right-nav{float:right; width: 80%; text-align: right;}
.right-nav ul{list-style:none; margin:0px; padding:0px;}
.right-nav ul li{display:inline-block; }
.right-nav ul li.login {background:#22d4ab; min-width: 135px; text-align:center; border-radius:5px;}
.right-nav ul li.login a{color:#fff}
.right-nav ul li.highlight{padding-left:15px; margin-top: 4px;}
.right-nav ul li a{color:#1c1c1c; font-size:18px; text-decoration:none; padding:0px 15px; font-weight: 700; line-height:40px; }
.right-nav ul li.highlight a{background:#22d4ab; color:#fff; font-family:Gotham Rounded Bold; border-radius:7px; padding: 9.5px 23px;}
.shad-button{background:url(../images/button-bg.png) repeat-y;  width:265px; height:59px; border-radius:7px; text-align:center; line-height:59px; display:table; font-size:20px; color:#fff; font-weight:700; text-decoration:none;margin: 0 auto;}
.shad-button:hover{color:#fff}
.home-herosection h1{font-size:44px; color:#080808;  font-weight:700; text-align:center; margin:0px; padding-top:100px; margin-bottom:40px;}
.home-herosection h1 span{display:block; font-weight:300; color:#252525; font-size:24px; margin-top:15px; line-height:34px;}
.slidetext{font-weight:600; font-size:21px; margin-top:25px; margin-bottom:100px;}



.howhelpyou, .mindbehind-sec{background:#fafcff; padding:85px 0px}
h2{font-weight:700; font-size:44px; margin: 0px; margin-bottom: 35px;}
h5{font-size:22px; line-height:29px; font-weight:700; color:#000; margin:0px; margin-bottom:25px;}
.howhelpyou h5{margin-top:30px; font-size:24px; line-height:31px;}
.howhelpyou .brief-text{ margin-bottom: 100px; }
.brief-text{max-width:770px; margin:0 auto; font-size:17px; line-height:29px; color:#000;}
.howhelpyou .help-box{width:33.33%; float:left; font-size:16px; line-height:28px; color:#656565; border-bottom:1px solid #e9eaeb; border-left:1px solid #e9eaeb; box-sizing:border-box;padding: 45px 45px 45px 60px; text-align:left; min-height:390px;}
.howhelpyou .container{max-width:1080px; padding:0;}
.howhelpyou ul li{ list-style: none; }
.help-box span{text-transform:uppercase; font-size:18px;}
.help-box span img{height:29px; vertical-align:baseline; margin-right:3px;}
.help-box.border-btm{border-bottom:0px;}
.help-box.border-left{border-left:0px!important;}
.help-box span.purple{color:#5632de}
.help-box span.pink{color:#ea125a}
.help-box span.blue{color:#0b9ded}
.help-box span.green{color:#3fda09}
.help-box span.dpink{color:#d100fe}
.help-box span.red{color:#ff0000}








































































.cost-table{width:100%; float:left; margin:100px 0px;}
.cost-table ul{margin:0px; padding:0px; list-style:none}
.cost-table ul li{padding:12px 5px; border-bottom:1px solid #e8e8e8; min-height:50px; box-sizing: border-box; font-size:15px;}
.cost-table-box.listing ul li{font-weight:400; color:#000}
.cost-table-box{width:15%; float:left; text-align:center; border:1px solid #f1f1f1; box-sizing: border-box;}
.cost-table-box.listing{width:25%; background:#f8f8f8}
.cost-table-box.listing .title{font-size:25px; font-weight:700; padding-top:50px;}
.ctb-top .title{font-weight:700}

.ctb-top .price{color:#000; font-size:40px; font-weight:400; margin-top:15px; margin-bottom:15px;}
.ctb-top .price sup, .ctb-top .price span{color:#666; font-weight:400; font-size:16px}

a.buy-btn{text-transform: uppercase; background:#fff;padding: 16px 25px;display: inline-block;border-radius: 5px;font-size: 13px;font-weight: 700;
color:#9142ff;margin-top: 5px;line-height: 16px;}


.pricing-table-column-ribbon{background-color:rgb(67, 83, 255); color:#1c4a94; background:
#fff;    background-color: rgb(255, 255, 255);color: #1c4a94;position: absolute;display: block;top: 18px;right: -30px;width: 125px;padding: 9px 20px 8px;
margin: 0;transform: rotate(45deg);height: 32px;z-index: 2;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;box-sizing: border-box; font-size: 12px; font-weight:700}
.ctb-top{position:relative; padding:15px 0px; height:170px}
.cost-table-box.popular{box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 6px 20px rgba(0,0,0,.15);z-index: 3; border-radius:8px}
.cost-table-box.popular.poptop{margin-top: -20px !important;margin-bottom: -20px !important; border:2px solid #1c4a94}
.cost-table-box.popular .ctb-top{padding-top: 33px; height: 171px;}
.cost-table-box ul li span{display:none}
.cost-table-box ul li img{width:20px; margin-top:4px;}
.cost-table header{display:none}
.cost-table-box.one .ctb-top, .ctb-top.plan1{background: #dff0d8;}
.cost-table-box.two .ctb-top, .ctb-top.plan2{background: #f4d9d0;}
.cost-table-box.three .ctb-top, .ctb-top.plan3{background: #cfdaf0; border-radius: 8px 8px 0px 0px;}
.cost-table-box.four .ctb-top, .ctb-top.plan4{background: #b5dce1;}
.cost-table-box.five .ctb-top, .ctb-top.plan5{background: #d7e0b1;}
.cost-table-box.three .ctb-top{overflow:hidden}





/*------------------------------*/

a.btn-learn{ text-transform:uppercase; text-align:center; color:#0146b3;  font-weight:900; display:table; margin:80px auto 0px auto; font-size:24px; float:none;  padding-right: 0; position:relative}
a.btn-learn:after{background: url(../images/btn-learn.png) no-repeat center right;content: ''; position: absolute;right:auto; width: 50px; height:30px;transition: ease 0.5s; top:2px;}
a.btn-learn:hover:after{width:65px;}
.Budgetpay-sec{padding: 95px 0px;}
.Budgetpay-sec h2{font-size:44px; font-weight:700; margin-bottom:20px;}
.Budgetpay-sec .brief-text {max-width: 800px; margin-bottom: 0px; font-size:16px; line-height:29px; color:#000}
.img-center{ margin:0 auto; display:block; }
.arrow-icon{ position: relative; padding-right: 37px;}
.arrow-icon:after{ content:''; background:url(../images/next-w.png) no-repeat center; position:absolute; width: 25px; height: 25px;right: 40px;top: 50%;transform: translateY(-50%);background-size: contain; transition:0.5s;}
.shad-button:hover .arrow-icon:after{ right:20px;transition-timing-function: ease-in-out;}
.menu-button {display:none; float: right; cursor: pointer;}
.menu-button span{width:30px; height:4px; background:#000; display:block; margin:4px; border-radius:5px;transform: ;}


/*-------responsive menu----------*/
header.active .menu-button span:nth-child(1){transform: rotate(45deg);margin-bottom: -4px;margin-top: 12px;}
header.active .menu-button span:nth-child(2){display: none;}
header.active .menu-button span:nth-child(3){transform: rotate(-45deg);margin-top: -0px}
header.active{ position: relative;}
header.active .menu{display:block;position: absolute; top: 100%; left: 0; text-align: left;width: 100%;background: #ebf5fe;padding-bottom: 10px; z-index: 2;transition: all 2s linear; opacity:1;}
header.active ul.menu li{ display:block;}
header.active ul.menu li a{ padding: 10px;display: block; border-bottom: 1px solid #e6eff7; transition: all ease 0.5s}
header.active ul.menu li a:hover{color: #000;background: #e0ebee;}
header.active ul.menu li.highlight{display: none;}
.sm-highlight{display:none;}
.sm-highlight a{background: #22d4ab;color: #fff;font-family: Gotham Rounded Bold; border-radius: 7px;padding: 10px;}

body.inner-page .home-herosection{ min-height: auto; }
/*-------responsive menu----------*/


.myslider {height: auto;width: 800px;margin: 10px auto;}
.myslider .item {height: auto;width: 100%;}
.owl-carousel .owl-item img{width:90%; max-width:1300px; margin:0 auto }
.myslider .item img {height: auto;width: 100%;}
.owl-dots .owl-dot {margin: 0px 5px;}
.owl-dots .owl-dot button { background:#cdced4; padding:0; color:#555555; font-weight:bold; cursor:pointer; font-size:0;  width:10px; height:10px; border-radius:50%; border: none;}
.owl-dots .owl-dot button:focus {outline: none;}
.owl-dots .owl-dot.active button {background: #ffba00;}
.text-blue{ color: #1a31f1; }
.testimonial-sec{ padding:0 0 80px 0 }
.testimonial-sec .testimonialslider{width:90%; margin:0 auto; text-align: center;}
.testimonial-sec .testimonialslider .item{font-style: italic;font-size: 23px;font-weight: 300;margin-bottom: 10px;  line-height: 38px; position: relative; padding:50px; padding-bottom: 0;}
.testimonial-sec .testimonialslider .item h5{ color:#0146b3;   font-style: normal;margin-top: 40px;font-weight: 600; font-size:20px; font-style:normal}
.testimonial-sec .testimonialslider .item:after{ content:''; background:url(../images/quote-right.png) no-repeat center; position:absolute; width: 60px; height: 60px; right:0; bottom:0px;}
.testimonial-sec .testimonialslider .item:before{ content:''; background:url(../images/quote-left.png) no-repeat center; position:absolute; width: 60px; height: 60px; left:0; top:20px;}
.bottom-btn{ margin-top: 80px; margin-bottom: 80px; }


.moving_shape { width: 100%; height: 100%; background: #4f60f4; background-size: auto auto; background-size: 1000%; background-repeat: repeat; color: #fff; animation:border-move 15s linear infinite forwards;}
.moving-container {height: 550px;width: 550px;position:absolute;top: 60px;z-index: 1;left: 100px;}
.floating { animation-name: floating; animation-duration: 3s; animation-iteration-count: infinite;  animation-timing-function: ease-in-out; margin-left: 30px; margin-top: 5px;}

/*------animation--------*/
@keyframes border-move{
  0%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
  10%{ border-radius:39% 61% 38% 62% / 53% 54% 46% 47%; }
  20%{ border-radius:56% 44% 52% 48% / 57% 35% 65% 43%; }
  30%{ border-radius:41% 59% 45% 55% / 33% 56% 44% 67%; }
  40%{ border-radius:46% 54% 60% 40% / 55% 74% 26% 45%; }
  50%{ border-radius:44% 56% 22% 78% / 31% 74% 26% 69%; }
  60%{ border-radius:31% 69% 32% 68% / 31% 71% 29% 69%; }
  70%{ border-radius:44% 56% 60% 40% / 63% 36% 64% 37%; }
  80%{ border-radius:46% 54% 38% 62% / 44% 48% 52% 56%; }
  90%{ border-radius:66% 34% 57% 43% / 49% 51% 49% 51%; }
  100%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
/*-------------------------*/
.mindbehind{ position:relative; padding:120px 0 0; }
.container-sm{ max-width:1000px;  width:100%; margin:0 auto;}
.mindbehind-left {float:left; margin-right:-120px;}
.mindbehind-left img{border: 10px solid #fff;border-radius: 10px;box-shadow: 0 0 15px 0px #cecece; position: relative;z-index: 2;}
.mindbehind-right { background:#fff; padding:20px 30px; width:42%; float:left; box-shadow:0 0 15px 0px #cecece; border-radius:10px; margin-top:85px; position:relative; z-index:3;}
.mindbehind-right .learn-more{margin-top:30px;}
.mindbehind-right h3{ font-size: 29px; margin-top: 0; margin-bottom: 7px; font-weight:700}
.mindbehind-right p{color:#020a17;   font-style:normal; line-height:27px; font-size:16px; word-break:keep-all; margin-bottom:0;}
.learn-more{background: url(../images/next-c.png) no-repeat right; font-size:0; width:20px; display:inline-block; height:20px; background-size:contain; float: right; transition:0.5s}
.learn-more:hover{margin-right:-10px; transition-timing-function: ease-in-out;}
.home-herosection .myslider.owl-carousel{ padding-left: 15px; padding-right: 15px; }
footer{clear:both}
footer ul{padding: 0px; margin:0;}
.footer-logo{margin-bottom:30px; display:inline-block;}
footer ul li{ list-style: none; float: left;  margin: 0 15px;}
footer ul li a{ color: #666666; font-size: 16px; }
footer ul li:last-child{ margin-right: 0px; }
footer ul li:first-child{ margin-left: 0px; }
.footer-left{float: left;}
.footer-right, .footer-right p{ float: right;font-size: 15px;color: #808080;margin-bottom: 0px;padding-top: 26px;font-weight: 400;}

footer .container{border-top: 1px solid #ebebeb; padding: 35px 0; padding-bottom:80px;}
footer .footer-right li img{ opacity: 0.9;}
footer .footer-right li img:hover{ opacity: 0.5;}
.footer-bottom{ margin:50px 0 10px 0;}
.footer-bottom, .footer-bottom ul li a{ font-size: 15px; color: #666666; }
.footer-bottom p{ float: left; }
.footer-bottom ul{display: inline-block;float: right;}


.shad-button {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	overflow: hidden;
}
.shad-button span{
	text-decoration: none;
	display: block;
}
.shad-button::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 1;
	-webkit-transform: translate(-105%,0);
	transform: translate(-105%,0);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgba(255,255,255,1);
	background-color: rgba(255,255,255,0.25);
}
.shad-button:hover::before{
	opacity: 0;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);	
}

/*-------------------------------*/
@media screen and (max-width: 1024px) {
	.howhelpyou .help-box{padding: 25px 35px;}
}
@media screen and (max-width: 768px) {
	.footer-bottom ul {display: block; float: left; margin-top: 30px;}
	.menu-button{ display:block; }
	.menu{ display: none; opacity: 0;transition: opacity 300ms;}
	.right-nav{ float: left; }
	.sm-highlight{display:inline-block;vertical-align: top; margin-top: 5px;}
	.howhelpyou .help-box{width:50%; padding:25px 30px;}
	.howhelpyou ul li.help-box:nth-child(4){border-left:1px solid #e9eaeb; border-bottom: 1px solid #e9eaeb;}
	.howhelpyou ul li.help-box:nth-child(3), .howhelpyou ul li.help-box:nth-child(5){border-left:none;}
	.howhelpyou .container{padding-right: 15px; padding-left: 15px;}
	.mindbehind{padding: 120px 15px 0;}
	.mindbehind-left {margin-right: -285px;}
	.mindbehind-right {width: 45%;}
	footer .container{padding: 35px 15px;}
}
@media screen and (max-width: 767px) {
.logo a, .logo img{ float: left; }

.sm-highlight{display:inline-block;vertical-align: top;}
	.logo, .right-nav{width:50%}
	.howhelpyou .help-box {width: 100%;}
	.howhelpyou .help-box{ border-left:none !important; border-right:none !important; border-bottom:1px solid #e9eaeb; padding-left:0; }
	.testimonial-sec h2{ font-size: 30px; }
	.testimonial-sec .testimonialslider .item{padding:50px 0px; }
	.testimonial-sec .testimonialslider .item:before{top: 5px;}
	.testimonial-sec .testimonialslider .item:after{bottom: 0px;}
	.sm-highlight a{display: block;background: url(../images/user.png) no-repeat center; font-size:0; width:30px; height:30px; padding:0; border-radius:0; margin-right:10px;}
	.home-herosection h1{ font-size: 30px; }
	.home-herosection .myslider.owl-carousel{ padding-right: 15px; padding-left: 15px;}
	.slidetext{ margin-bottom: 0px;}
	.howhelpyou, .mindbehind-sec{padding: 45px 15px;}
	.howhelpyou h2, .Budgetpay-sec h2, .mindbehind-sec h2{ font-size: 30px; }
	.mindbehind-left{ margin-right: auto; }
	.mindbehind-right{width: 100%;margin-top: 15px;}
	.moving-container {height: 50%; width: 100%; position: absolute; top: 60px; z-index: 1; left: auto;}
	footer{ text-align: left;}
	.footer-right{ float: left; }
	.footer-logo{margin-left: 15px;}
	.footer-bottom { margin: 30px 0 10px 0;}
	.footer-bottom p { margin-left: 15px; margin-bottom: 15px; line-height: 30px;}
	footer ul li { margin: 10px 15px !important;}
}
@media screen and (max-width: 500px) {
.cost-table-box.listing{display:none}
.cost-table-box{width:90%; margin:0 auto; float:none; margin-bottom:50px;}
.cost-table-box ul li span{display:block; padding-bottom:10px;}
.cost-table section{padding-top:250px; background:#fff; clear:both; height:auto}

.cost-table header { position: fixed; top: 0;    left: 0;    right: 0;    height: auto;    background: #000; display:none; padding:7px 0px}
.cost-table header.project1 {background: #dff0d8; display:block  }
.cost-table header.project1 .ctb-top.plan1{display:block}
.cost-table header.project2 {   background: #f4d9d0;  display:block}
.cost-table header.project2 .ctb-top.plan2{display:block}
.cost-table header.project3 {    background: #cfdaf0;   display:block}
.cost-table header.project3 .ctb-top.plan3{display:block}
.cost-table header.project4 {    background: #b5dce1;  display:block}
.cost-table header.project4 .ctb-top.plan4{display:block}
.cost-table header.project5 {    background: #d7e0b1;   display:block}
.cost-table header.project5 .ctb-top.plan5{display:block}
.ctb-top{display:none}
.cost-table header .ctb-top{text-align:center; height:auto; padding:0px;}
.ctb-top .price{margin-top: 5px;margin-bottom: 5px;}
.cost-table-box.popular.poptop{border:0px;}
.cost-table-box {    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 6px 20px rgba(0,0,0,.15);}
.cost-table-box.popular.poptop{margin-top:0px!important; margin-bottom:25px!important;}





}




.addpartner_form { width:100%; height:auto; float:left; margin:15px 0 30px;}
.addpartner_form label.control-label {font-family: "LL Brown Regular Web";font-size: 15px;}
.addpartner_form .error label.control-label {padding-top: 13px;color: #4d4d4d;}
.addpartner_form .error input {border: 2px solid #f00;}
.addpartner_form span.help-inline { display:none;}
a.formlist_icon { font-size:0; width:46px; height:40px; display:inline-block;background:#616161 url(../img/list-icon.png) center center no-repeat; border-radius:5px;border: none;
margin: 0;float: left;}

.borderline { width:100%; height:1px; float:left;background: #d5d5d5;margin: 20px 0 20px;}

.partner_formsetup {width:100%; height:auto; float:left; margin:0 0 25px}
.partner_formsetup .partner_formsetup_container { width:710px; margin:0 auto;}

.partner_formsetup .partner_formsetup_left { width:275px; height:auto; float:left;}
.partner_formsetup label.control-label {width: 100%;float: left;font-family: "LL Brown Bold Web";font-size: 16px;margin: 0 0 13px 4px;}
.partner_formsetup ul { width:100%; height:300px; float:left; border:solid 1px #dcdcdc; padding:0; margin:0;}
.partner_formsetup ul li {padding: 4px 17px;margin: 0;font-size: 14px;}
.partner_formsetup ul li.active { background:#fc5b63; color:#fff;}

.partner_formsetup .partner_formsetup_center { width:165px; height:300px; float:left;padding: 0 18px;display: flex;justify-content: center;align-items: center;}
.partner_formsetup .partner_formsetup_center a { display: block;text-align: center;border: solid 1px #e1e1e1;color: #333333;font-family: "LL Brown Bold Web";font-size: 17px;padding: 10px 0;background: rgba(254,254,254,1);background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 57%, rgba(226,226,226,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(57%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 57%, rgba(226,226,226,1) 100%);background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 57%, rgba(226,226,226,1) 100%);background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 57%, rgba(226,226,226,1) 100%);background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 57%, rgba(226,226,226,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );float: left;width: 100%;} 

.partner_formsetup .partner_formsetup_right { width:250px; height:auto; float:left;}
.partner_formsetup .form-actions {width: 100%;float: left;}


/*----------------------*/

.search-section ul.searchsection-jobsorder { text-align:left !important;}
.search-section ul.searchsection-jobsorder .search-term { margin-right: 8px;  min-width: 95px; display: inline-block; margin-bottom: 0 !important;}
.search-section ul.searchsection-jobsorder li select { height: 42px;width: 226px;}

.search-section ul.jobsorder-search-widget {margin:40px 0 0 !important;}
.search-section ul.jobsorder-search-widget li { margin:0;}
.search-section ul.jobsorder-search-widget li a {border: solid 1px #08c;padding: 10px 11px;text-decoration: none;border-radius: 4px;color: #08c;float:left}


img {
    image-orientation: from-image;
}


.control-group.halfform .controls{position: relative; }
.control-group.halfform .controls .droplist{top:100%; width:98%;}
.control-group.halfform .controls .droplist li{padding:6px; cursor: pointer;}
.control-group.halfform .controls .droplist li a{cursor: pointer;}
.halfform .controls .adddropdownimg:after {
	content: "";
position: absolute;right: 30px; top: 32%; background:url(static/img/dropdownarrow.png) no-repeat;
width:19px; height:10px}



.required{color:#ff0000; font-color:#ff0000;}

.info-box-icon{position: relative;width: 80px;height: 80px;margin-right:0.5rem;border-radius: 100%;color: #fff;font-size: 1.8rem;text-align: center;}

.info-icon{background:#2ea1f8; background:linear-gradient(180deg,#2ea1f8,#1990ea);}
.fancy-icon{background:#886ce6; background:linear-gradient(180deg,#886ce6,#7d5be2);}
.warning-icon{background:#fd9a18; background:linear-gradient(180deg,#fd9a18,#f16911);}
.success-icon{background:#39b54a; background:linear-gradient(180deg,#39b54a,#34aa44);}

.text-info{color:#2ea1f8; }
.text-fancy{color:#886ce6; }
.text-warning{color:#fd9a18; }
.text-success{color:#39b54a; }


.info-box-icon i{vertical-align: text-top;}
.info-box-icon::after {position:absolute; top:0; right:0; bottom:0; left:0; width:70px; height:70px; margin:auto; border:2px solid #fff; border-radius:100%; content:""; opacity:.2;}
.bg-gray{background: #f7f7f7;}

.main-section .info-box{display: block;min-height: 90px;background: #fff;box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.1); border-radius:3px; margin:10px; padding:20px 10px; width:auto; border:1px solid #e6eaee;}
.main-section .info-box-content {padding:0px; margin-left:90px;}
.no-more-tables table.table-condensed th, .no-more-tables table.table-condensed td{ vertical-align: inherit !important; }
#dash_board_class .search-dashboardpart{padding:0px;border: 1px solid #e6eaee;margin: 10px 0;box-shadow: none;border-radius: 3px;box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.1);}
#dash_board_class .search-dashboardpart h3{margin: 0;line-height: 30px;margin-bottom: 15px;font-weight: 600;font-size: 20px;margin-left: -7px;padding: 10px;background: #f9f9f9;margin-right: -7px;}
#dash_board_class .search-btn-toolbar{margin-top: 0;}
#dash_board_class #all_transactions{border: 1px solid #e6eaee;margin: 10px 10px auto;box-shadow: none;border-radius: 3px;background: #fff;box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.1);}
#dash_board_class h3.box-title{margin: 0;line-height: inherit;background: #f9f9f9;}
#dash_board_class h3.box-title a{line-height: 26px;font-weight: 600;font-size: 20px;color: #333333;display: block;padding: 10px;text-decoration: none;}
#dash_board_class .box-body{padding: 10px;}
#dash_board_class .box-body .list-group a.list-group-item{margin-bottom: 6px;display: block;}
#dash_board_class .box-body .list-group a.list-group-item:last-child{color: #15ac1e;}

#dash_board_class .info-box-content .info-box-text a{font-weight: 600;font-size: 16px; text-decoration: none;}
#dash_board_class .info-box-content .progress-description{color: #999;}
#dash_board_class .info-box-content .info-box-number{display: inline-block;}
.relation-plus-icon, .search-section ul li select{font-family: GothamRoundedBook !important;}
#opening_balance{float: left;width: 88%;border-radius: 0px 4px 4px 0;}
.currnecy_symbol{float: left;padding: 10px;background: #dfdfdf;border-radius: 4px 0px 0px 4px;}
.Budgets-topsec{width:100%; margin: 0 auto;float: left;text-align: center;}
.clients-list-table .custom-small-btn{margin-bottom: 5px;}
#dash_board_class .Budgets-topsec h3.box-title{margin: 0 10px;line-height: 40px;background: #f9f9f9;padding: 15px;display: inline-block;}
.custom-charts_div{margin:10px 0 30px !important;}
.custom-charts_div .threeboxes{width: 31%;padding: 0; border: 1px solid #e6eaee; margin: 10px 10px auto; border-radius: 3px; background: #fff; box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.1);}
.custom-charts_div .threeboxes h3 {text-align: center;  margin-top: 0; font-weight: 600; font-size: 20px; padding: 10px; background: #f9f9f9; border-radius: 5px 5px 0 0;}
.transactions-table{padding: 20px 10px 0px 10px;border: 1px solid #e6eaee;margin: 10px 0;border-radius: 3px;box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.1);}

