@media screen and (max-width: 1550px) {
.home-content-tablecell p { font-size: 14px;}
.home-content-tablecell { padding:0 100px;}
.home-content-tablecell a.getstred { font-size:18px;}
.beaware-bottomheading h2 {color: #020a17;    font-size: 31px;}
.budgetpay-heading h2 { font-size: 35px;}
.header-logo img { width:180px;}


}



@media screen and (max-width: 1280px) {
.container { width: 992px !important;}
.beaware-row .beaware-col {width: 305px;}
.beaware-row .margin {margin: 0 30px;}
.beaware-col .beaware-hading h3 {font-size: 22px;line-height: 30px;}
.beaware-content p {font-size: 13px; line-height: 25px;}
.beaware-col .beaware-hading { margin:20px 0}
.beaware-bottomheading {margin: 20px 0 40px;}
.beaware-bottomheading h2 { font-size: 27px;}
.budgetpay-main { padding:50px 0}
.budgetpay-heading h2 { font-size: 29px;}

.budgetpay-tabs-content { width: 68%; float: left;}
div.bhoechie-tab-menu div.list-group > a { font-size:15px;margin: 4px 0;padding: 5px 10px;}
.budgetpay-tabs-left { width: 230px;}

.blueslider-heading { margin-bottom:95px;}
.blueslider-heading h2 { font-size:34px;}
.blueslider-heading p { padding:0;}

#getstarted { padding-top:50px;}
.getstarted h2 {font-size: 30px;}
.getstarted a { font-size: 20px; padding: 10px 70px 10px 45px;}
.getstarted-slider { margin-top:80px;}
.getstarted-sliderheading h2 { font-size:28px;}
.acordian-main-heading h1 { padding: 0px 0 35px;font-size: 35px;}
.accordion .list-group-item h3 { font-size: 15px;}

#ssl-section {padding: 50px 0;}
.ssl-left { width: 240px; float: left;}
.ssl-right { width:72%; padding:0;}
.ssl-right h2 { font-size: 33px;margin: 0 0 25px;}
.ssl-right p { font-size:14px; line-height:28px;}
.footer-right-col ul li a { font-size: 13px;}
.blueslider-main .testi-sliderimg img { width: 160px;}



}




@media screen and (max-width: 1024px) {
.container { max-width: 95% !important;}
#home { min-height:1px;}
.home-content-table { padding:160px 0 200px;}
.home-content-tablecell {padding: 0 20px;}
.home-content-tablecell h1 { font-size:38px;}

 
<<<<<<< HEAD
.pricelist { margin:30px 0}
.pricetablecontent { width: 40%;}
=======
>>>>>>> ce5dcdba6d29ae9c3a2c13a2d7f0b67c87ca9db9


}




@media screen and (max-width: 768px) {
.header-logo { position: absolute; left: 25px;}
#header-menu-trigger { right: 30px;}
a.loginbuton { right:90px;}
<<<<<<< HEAD
a.loginmainbtn { right:250px;}
=======
>>>>>>> ce5dcdba6d29ae9c3a2c13a2d7f0b67c87ca9db9

#menu-nav-wrap .nav-list li a { font-size:16px;}
.beaware-row .beaware-col { width: 215px;padding: 20px 15px 10px 15px;}
.beaware-row .margin {margin: 0 20px;}
.beaware-col .beaware-hading h3 { font-size: 18px; line-height: 25px;}
.beaware-content p { font-size: 12px; line-height: 21px;}
.budgetpay-heading p { padding:0; font-size:16px;}

#menu-nav-wrap a.close-button { background:none; padding: 0; float: right; font-weight: 700; border-radius: 100%;font-size: 19px;}
.budgetpay-tabs-left { margin-top:25px;}
.blueslider { padding: 30px 30px;}
.getstarted-slidermain .item {margin: 0 10px;}
.ssl-left { width: 170px;float: left;}
#footersection {padding: 40px 0 0;} 
.footer-left { width: 100%; float: left; border-right: none; padding-right: 0px;}
.footer-right { width: 100%; float: right; padding: 10px 0 0;}
.footermian-copy { padding:30px 0}
<<<<<<< HEAD

.blueslider-main .owl-wrapper .active + .active .item::before { display:none !important;}
.blueslider-main .owl-wrapper .active + .active + .active .item::before { display:block !important;}
.blueslider-main .owl-wrapper .active + .active + .active + .active .item::before { display:block !important;}
.blueslider-main .owl-wrapper .active + .active + .active + .active + .active .item::before { display:block !important;}

 
 


.pricetablecontent { width: 46%;}

 
=======
>>>>>>> ce5dcdba6d29ae9c3a2c13a2d7f0b67c87ca9db9
 
}



@media screen and (max-width: 767px) {
<<<<<<< HEAD
.inner-container {width: 90%;}


.home-content-tablecell h1 {font-size: 18px;margin: 0px 0 30px;line-height: 32px;}
.home-content-tablecell p { line-height:29px;letter-spacing: 3px;}

.header-logo img { width: 110px;}
.header-logo { position: absolute; left: 11px; top:17px;}
#header-menu-trigger { right: 17px;top: 20px;}
.home-content-tablecell a.getstred { font-size:15px;padding: 10px 50px 10px 24px;}

a.loginbuton { right:59px; padding: 6px 6px;font-size: 12px;top: 18px;}
a.loginmainbtn { font-size: 12px;padding: 6px 6px;right: 136px; top: 18px;}
=======
.home-content-tablecell h1 {font-size: 18px;margin: 0px 0 30px;line-height: 32px;}
.home-content-tablecell p { line-height:29px;letter-spacing: 3px;}

.header-logo img { width: 140px;}
.header-logo { position: absolute; left: 15px; top:13px;}
#header-menu-trigger { right: 17px;top: 20px;}
.home-content-tablecell a.getstred { font-size:15px;padding: 10px 50px 10px 24px;}

a.loginbuton { right: 65px; padding: 6px 10px;font-size: 13px;top: 18px;}

>>>>>>> ce5dcdba6d29ae9c3a2c13a2d7f0b67c87ca9db9
.home-content-table { padding: 80px 0 120px;}
.beaware-row { position: relative;top: -68px;}
.beaware-row .beaware-col {width: 85%;}
.beaware-row .margin { margin: 15px 0px;}
.beaware-bottomheading h2 { font-size: 19px; position: relative; top:30px; right: 0; font-weight: 600; padding: 0 20px; line-height: 26px;}
.beaware-bottomheading { margin: 2px 0 0px;}

.budgetpay-heading h2 { font-size: 20px;}
.budgetpay-heading p { padding: 0; font-size: 14px; line-height: 23px; margin: 13px 0;}
.budgetpay-heading a { font-size: 14px;}
.budgetpay-main { padding: 30px 0;}
.budgetpay-tabs-left { width: 100%;margin: 0 !important;}
div.bhoechie-tab-menu div.list-group { display:inline-block; text-align:center;}
div.bhoechie-tab-menu div.list-group > a {font-size: 15px; margin: 4px 0; padding: 5px 10px; display: inline-block; border: solid 1px #d1e3e2;}
.budgetpay-tabs-content { width: 100%; float: left;} 
.blueslider-heading h2 { font-size: 24px;}
.blueslider-heading p { color: #fff; font-size: 14px; margin: 0px 0; line-height: 24px;}
.blueslider-heading { margin-bottom: 30px;}
#getstarted { padding-top: 20px;}
.getstarted h2 { font-size: 24px;}

.home-content-tablecell a.getstred::before { right: 10px}

.getstarted-slider { margin-top: 50px;}
.getstarted-sliderheading h2 {font-size: 21px;}

.gradientleft, .gradientright { display:none;}
.acordian-section {margin: 10px 0 20px;}
.acordian-main-heading h1 { padding: 0px 0 15px;font-size: 27px;}
.accordion {width: 100%; padding:0;}
.acordian-main .right { float: right; width: 100%;}

#ssl-section { padding: 30px 0;}
.ssl-main {text-align: center;}
.ssl-left { width: 100%; float: left;padding: 0 40px;}
.ssl-right { width: 100%;  padding: 0;}
.ssl-right h2 { font-size: 22px; margin: 20px 0 15px;}

.footermian {text-align: center;}
#footersection { padding: 20px 0 0;}

.footer-right-col {width: 100%; float: left;}
.footer-right-col ul li a {font-size: 13px; padding: 6px 0;}
.footer-right-col p { font-size: 14px;padding: 15px 0 0; text-align: center;}
#menu-nav-wrap { width:100%;}
#menu-nav-wrap {  font-size: 1.5rem; padding: 10px;}
#menu-nav-wrap .nav-list { margin: 0rem 0 0rem 0; padding: 0 0 0rem 0;}
#menu-nav-wrap a.close-button {position: absolute;right: 30px;top: 15px;}

.blueslider-main .owl-item .item::before { display:none;}


<<<<<<< HEAD
.headersection { padding:33px 0}


.pricelist { margin:10px 0;padding: 20px 5px 10px;}
.pricetablecontent { width:100%;margin: 10px 0px; min-height:0;}
.pricelist .title, .pricing-form h1, h1.maintitle { font-size: 27px; margin-bottom:20px;}
.pricelist .plan { font-size:17px;}
.pricelist .features li { padding:5px 0}
.pricelist .price {font-size: 16px; padding:10px 0;}
.pricelist .price a { position:relative;left: 0;transform: none;font-size: 15px;color: #fff;padding: 8px 26px;}

.loginsection { margin:10px 0;}
.logincontainer { width: 100%; margin: 0 auto;}
.login-signup-title a { font-size:17px; padding:15px 0}
.loginform { padding:20px;}
.loginform-buttons button.btn { font-size:18px;padding: 12px 0; height:auto;}
.loginform-buttons .rememberleft { width:100%;}
.loginform-buttons .lostpass { width: 100%; float: right; text-align: left; margin-top: 6px;}
.loginform input.form-control { height:40px;}

.pricetablecontent .plantop {min-height:auto; padding:0 10px;}
.pricelist .price span {font-size: 37px;}

.logindrop .nav-list {right: 60px;top: 18px; }
.logindrop .nav-list li a#navbarDropdown { font-size:11px;	}

.tab-section { width: auto;text-align: center; margin-top: 20px;}
.tab-section .tab { padding: 12px 10px;font-size: 12px;}

.login-signup-title {padding: 0 10px;}
.login-signup-title h3 { font-size:18px;}
.pricingmain .half { width: 100% !important; float: left; padding: 0 0px;}
.loginform-buttons button.btn, .loginform-buttons input.button { font-size:20px; height:48px;}
.loginform-buttons { padding-bottom:0;}


.cardnumbertext .input-icon { font-size:20px;}
.cardnumber .input-icon {color: #fff;font-size: 17px;}
.cardnumber .input-icon input { width:90%;}
.card-expmain .col-sm-6 { margin-top:8px;}
.card-expmain .card-exp-cvv .input-icon { width: 58%;}
.card-expmain .card-exp-cvv .cvvimg { margin:0;}


=======
>>>>>>> ce5dcdba6d29ae9c3a2c13a2d7f0b67c87ca9db9
}